<footer class="section-footer bg-secondary">
  <div class="container">
    <section class="footer-top padding-y-lg text-white">
      <div class="row">
        <aside class="col-md col-6">
          <h6 class="title">Company</h6>
          <ul class="list-unstyled">
            <li><a href="/#/about">About Us</a></li>
            <li>
              <a routerLink="/terms">Terms & Conditions</a>
            </li>
            <li><a routerLink="/privacy">Privacy</a></li>
            <li><a routerLink="/vendor-guide">Vendor Guide</a></li>
          </ul>
        </aside>

        <aside class="col-md col-6">
          <h6 class="title">Account</h6>
          <ul class="list-unstyled">
            <li><a routerLink="/login"> Login </a></li>
            <li><a routerLink="/register"> Register </a></li>
            <li a-ngIf="loggedIn()">
              <a routerLink="/profile"> Account Setting </a>
            </li>
          </ul>
        </aside>
        <aside class="col-md">
          <h6 class="title">Social</h6>
          <ul class="list-unstyled">
            <li>
              <a href="https://Fb.me/BprentsNigeria">
                <i class="fa fa-facebook"></i> Facebook
              </a>
            </li>
            <li>
              <a href="https://Instagram.com/Bprents">
                <i class="fa fa-instagram"></i> Instagram
              </a>
            </li>
            <li>
              <a href="https://twitter.com/BprentsNigeria">
                <i class="fa fa-twitter"></i> Twitter
              </a>
            </li>
          </ul>
        </aside>
      </div>
      <!-- row.// -->
    </section>
    <!-- footer-top.// -->

    <section class="footer-bottom text-center">
      <p class="text-white">
        Privacy Policy - Terms of Use - User Information Legal Enquiry Guide
      </p>
      <p class="text-muted">&copy; 2021 Bprents, All rights reserved</p>
      <br />
    </section>
  </div>
  <!-- //container -->
</footer>
