<header class="section-header">
  <section class="header-main border-bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-3 col-sm-4 col-md-4 col-5">
          <a routerLink="../" class="brand-wrap">
            <img class="logo" src="../../assets/images/logo.png" />
          </a>
          <!-- brand-wrap.// -->
        </div>
        <div class="col-lg-4 col-xl-5 col-sm-8 col-md-4 d-none d-md-block">
          <form action="#" class="search">
            <div class="input-group w-100">
              <input
                type="text"
                class="form-control"
                style="width: 55%;"
                placeholder="Search"
              />
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </form>
          <!-- search-wrap .end// -->
        </div>

        <!-- col.// -->
      </div>
      <!-- row.// -->
    </div>
    <!-- container.// -->
  </section>
  <!-- header-main .// -->
</header>
<section
  class="section-conten padding-y"
  style="min-height: 84vh;"
  [@carouselAnimation]="currentPage"
>
  <!-- ============================ COMPONENT RESET   ================================= -->
  <div
    class="card mx-auto"
    style="max-width: 380px; margin-top: 100px;"
    *ngIf="currentPage == 'forgot-password'"
  >
    <div class="card-body">
      <h4 class="card-title mb-4">Trouble logging in?</h4>
      <p>
        <em>
          Enter your Email and we'll send you a verification code to get back to
          your account</em
        >
      </p>
      <form [formGroup]="forgotPasswordForm">
        <div class="form-group">
          <input
            type="email"
            placeholder="Email"
            class="form-control py-4"
            id="email"
            formControlName="email"
            [ngClass]="{
              'is-invalid':
                forgotPasswordForm.get('email').errors &&
                forgotPasswordForm.get('email').touched
            }"
          />
          <div
            class="invalid-feedback mt-0 p-0"
            *ngIf="
              forgotPasswordForm.get('email').errors &&
              forgotPasswordForm.get('email').touched
            "
          >
            Please enter a valid email
          </div>
        </div>
        <!-- form-group// -->
        <div class="form-group">
          <button
            class="btn btn-primary btn-block py-3"
            (click)="setPage('password-reset')"
            [disabled]="forgotPasswordForm.invalid"
          >
            Continue
          </button>
        </div>
        <!-- form-group// -->
        <!-- form-group form-check .// -->

        <!-- form-group// -->
      </form>
    </div>
    <!-- card-body.// -->
  </div>
  <!-- card .// -->
  <!-- ============================ COMPONENT VERIFY   ================================= -->
  <div
    class="card mx-auto"
    style="max-width: 380px; margin-top: 100px;"
    *ngIf="currentPage == 'password-reset'"
  >
    <div class="card-body">
      <div class="d-flex justify-content-start">
        <img
          src="assets/icons/back-icon.svg"
          alt=""
          (click)="setPage('forgot-password')"
        />
      </div>
      <h4 class="card-title mb-4">One More Step....</h4>
      <p>
        <em> Enter your new password</em>
      </p>
      <form [formGroup]="resetPasswordForm">
        <div class="form-group">
          <input
            type="password"
            placeholder="Enter New Password"
            class="form-control py-4"
            autocomplete="new-password"
            id="password1"
            formControlName="new_password"
            [ngClass]="{
              'is-invalid':
                resetPasswordForm.get('new_password').errors &&
                resetPasswordForm.get('new_password').touched
            }"
          />
          <div
            class="invalid-feedback p-0 mt-0"
            *ngIf="
              resetPasswordForm.get('new_password').hasError('required') &&
              resetPasswordForm.get('new_password').touched
            "
          >
            Password is required
          </div>
          <div
            class="invalid-feedback mt-0 p-0"
            *ngIf="
              resetPasswordForm.get('new_password').hasError('minlength') &&
              resetPasswordForm.get('new_password').touched
            "
          >
            Password must be at least 8 characters
          </div>
        </div>
        <!-- form-group// -->

        <div class="form-group">
          <button
            class="btn btn-primary btn-block py-3"
            (click)="setPage()"
            [disabled]="resetPasswordForm.invalid"
          >
            Reset Password
          </button>
        </div>
        <!-- form-group// -->

        <!-- form-group form-check .// -->
        <!-- form-group// -->
      </form>
    </div>
    <!-- card-body.// -->
  </div>
  <!-- card .// -->
  <p class="text-center mt-4">
    Don't have account? <a routerLink="../register">Sign up</a>
  </p>
  <br /><br />
  <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
</section>
<app-footer></app-footer>
