<app-nav></app-nav>
<div id="content" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-3 page-sidebar">
        <aside>
          <div class="sidebar-box">
            <div class="user">
              <figure>
                <a *ngIf="avatarUrl"
                  ><img src="{{ avatarUrl }}" class="avatarUrl" alt=""
                /></a>
                <a *ngIf="!avatarUrl"
                  ><img
                    src="{{ myProfile?.avatarUrl }}"
                    class="avatarUrl"
                    alt=""
                /></a>
              </figure>
              <div class="usercontent">
                <h3>User</h3>
                <h4>{{ myProfile?.lastName }} {{ myProfile?.firstName }}</h4>
              </div>
              <div classs="d-flex justify-content-end">
                <label
                  class="btn btn-common"
                  style="background-color: white; color: #2196f3"
                  type="button"
                  for="file"
                >
                  upload avatar
                </label>
                <input
                  type="file"
                  name="file"
                  id="file"
                  (change)="uploadAvatar($event.target.files[0])"
                />
              </div>
            </div>
            <nav class="navdashboard">
              <ul class="nav">
                <li>
                  <a href="#v-pills-profile" class="active" data-toggle="pill">
                    <i class="fa fa-cog"></i>
                    <span>Profile Settings</span>
                  </a>
                </li>
                <li>
                  <a class="click" (click)="manageCat()">
                    <i class="fa fa-wrench"></i>
                    Manage category
                  </a>
                </li>

                <li *ngIf="myProfile.role === 'SUPER_ADMIN'">
                  <a href="#v-pills-create" data-toggle="pill">
                    <i class="fa fa-plus"></i>
                    <span>Create admin user</span>
                  </a>
                </li>
                <li>
                  <a href="#v-pills-my-ads" data-toggle="pill">
                    <i class="fa fa-stack-overflow"></i>
                    <span>All Ads</span>
                  </a>
                </li>
                <li></li>

                <li>
                  <a (click)="logout()" class="click">
                    <i class="fa fa-sign-out"></i>
                    <span>Logout</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="widget">
            <h4 class="widget-title">Advertisement</h4>
            <div class="add-box">
              <!-- Advert goes here -->
            </div>
          </div>
        </aside>
      </div>
      <div class="col-sm-12 col-md-8 col-lg-9">
        <div class="page-content tab-content">
          <!-- myAds -->
          <div
            class="inner-box tab-pane fade"
            id="v-pills-my-ads"
            role="tabpanel"
            aria-labelledby="v-pills-my-ads-tab"
          >
            <div class="dashboard-box">
              <h2 class="dashbord-title">All Ads</h2>
            </div>
            <div class="dashboard-wrapper">
              <nav class="nav-table">
                <ul class="nav">
                  <li>
                    <a href="#v-pills-all-ads" class="active" data-toggle="pill"
                      >All Ads ({{ allAds?.length }})</a
                    >
                  </li>
                  <li>
                    <a href="#v-pills-approved" data-toggle="pill"
                      >Approved ({{ approved?.length }})</a
                    >
                  </li>
                  <li>
                    <a href="#v-pills-pending" data-toggle="pill">
                      Pending ({{ pending?.length }})</a
                    >
                  </li>
                  <li>
                    <a href="#v-pills-disabled" data-toggle="pill"
                      >Disabled ({{ disabled?.length }})</a
                    >
                  </li>
                  <li>
                    <a href="#v-pills-declined" data-toggle="pill"
                      >Declined ({{ declined?.length }})</a
                    >
                  </li>

                  <li>
                    <a href="#v-pills-expired" data-toggle="pill"
                      >Expired ({{ expired?.length }})</a
                    >
                  </li>
                  <li>
                    <a href="#v-pills-closed" data-toggle="pill"
                      >Closed ({{ closed?.length }})</a
                    >
                  </li>
                </ul>
              </nav>
              <table class="table table-responsive dashboardtable tablemyads">
                <thead>
                  <tr>
                    <th>Photo</th>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Ad Status</th>
                    <th>Price</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <div class="page-content tab-content">
                  <div
                    class="tab-pane fade show active"
                    id="v-pills-all-ads"
                    role="tabpanel"
                    aria-labelledby="v-pills-all-ads-tab"
                  >
                    <p class="text-info p-2" *ngIf="allAds.length == 0">
                      <i class="fa fa-info-circle"></i> All Ads will appear here
                    </p>
                    <tbody>
                      <tr
                        data-category="sold"
                        *ngFor="
                          let ad of allAds
                            | paginate
                              : {
                                  id: 'myAds',
                                  itemsPerPage: allPaginationInfo.size,
                                  currentPage: allPaginationInfo.currentPage,
                                  totalItems: allPaginationInfo.totalElements
                                }
                        "
                      >
                        <td class="photo">
                          <img
                            class="img-fluid"
                            alt=""
                            src="{{ (ad?.adImages)[0].imageUrl }}"
                          />
                        </td>
                        <td data-title="Title">
                          <h3 class="ellipses">
                            {{ ad?.title }}
                          </h3>
                        </td>
                        <td data-title="Category">
                          {{ ad?.title }}
                        </td>
                        <td
                          data-title="Ad Status"
                          *ngIf="ad?.status === 'PENDING'"
                        >
                          <span class="adstatus adstatusexpired">pending</span>
                        </td>
                        <td
                          data-title="Ad Status"
                          *ngIf="ad?.status === 'APPROVED'"
                        >
                          <span class="adstatus adstatusactive">active</span>
                        </td>
                        <td
                          data-title="Ad Status"
                          *ngIf="ad?.status === 'DECLINED'"
                        >
                          <span class="adstatus adstatusinactive"
                            >Declined</span
                          >
                        </td>
                        <td data-title="Price">
                          <h3>{{ ad?.dailyPrice | currency: "₦" }}</h3>
                        </td>
                        <td data-title="Action">
                          <div class="btns-actions">
                            <a
                              class="btn-action btn-view click"
                              [routerLink]="[
                                '/ad/view',
                                ad?.slug,
                                ad?.user?.slug
                              ]"
                              ><i class="fa fa-eye"></i
                            ></a>
                            <!-- <a
                            class="btn-action btn-edit click"
                            [routerLink]="['/ad/edit', ad?.slug]"
                            ><i class="fa fa-pencil"></i
                          ></a> -->
                            <!-- <a
                            class="btn-action btn-delete click"
                            (click)="deleteAd(ad?.slug)"
                            ><i class="fa fa-trash"></i
                          ></a> -->
                          </div>
                        </td>
                      </tr>
                    </tbody>
                    <div
                      class="has-text-centered d-flex justify-content-end"
                      *ngIf="allAds.length > 0"
                    >
                      <pagination-controls
                        (pageChange)="navigateMyAdPage($event)"
                        previousLabel="Prev"
                        nextLabel="Next"
                        responsive="true"
                        id="myAds"
                        class="my-pagination"
                      ></pagination-controls>
                    </div>
                  </div>
                  <div
                    class="tab-pane fade"
                    id="v-pills-approved"
                    role="tabpanel"
                    aria-labelledby="v-pills-approved-tab"
                  >
                    <p class="text-info p-2" *ngIf="approved.length == 0">
                      <i class="fa fa-info-circle"></i> Approved Ads will appear
                      here
                    </p>
                    <tbody>
                      <tr
                        data-category="sold"
                        *ngFor="
                          let ad of approved
                            | paginate
                              : {
                                  id: 'approved',
                                  itemsPerPage: approvedPaginationInfo.size,
                                  currentPage:
                                    approvedPaginationInfo.currentPage,
                                  totalItems:
                                    approvedPaginationInfo.totalElements
                                }
                        "
                      >
                        <td class="photo">
                          <img
                            class="img-fluid"
                            alt=""
                            src="{{ (ad?.adImages)[0].imageUrl }}"
                          />
                        </td>
                        <td data-title="Title">
                          <h3 class="ellipses">
                            {{ ad?.title }}
                          </h3>
                        </td>
                        <td data-title="Category">
                          {{ ad?.title }}
                        </td>
                        <td
                          data-title="Ad Status"
                          *ngIf="ad?.status === 'PENDING'"
                        >
                          <span class="adstatus adstatusexpired">pending</span>
                        </td>
                        <td
                          data-title="Ad Status"
                          *ngIf="ad?.status === 'APPROVED'"
                        >
                          <span class="adstatus adstatusactive">active</span>
                        </td>
                        <td
                          data-title="Ad Status"
                          *ngIf="ad?.status === 'DECLINED'"
                        >
                          <span class="adstatus adstatusinactive"
                            >Declined</span
                          >
                        </td>
                        <td data-title="Price">
                          <h3>{{ ad?.dailyPrice | currency: "₦" }}</h3>
                        </td>
                        <td data-title="Action">
                          <div class="btns-actions">
                            <a
                              class="btn-action btn-view click"
                              [routerLink]="[
                                '/ad/view',
                                ad?.slug,
                                ad?.user?.slug
                              ]"
                              ><i class="fa fa-eye"></i
                            ></a>
                            <!-- <a
                            class="btn-action btn-edit click"
                            [routerLink]="['/ad/edit', ad?.slug]"
                            ><i class="fa fa-pencil"></i
                          ></a> -->
                            <!-- <a
                            class="btn-action btn-delete click"
                            (click)="deleteAd(ad?.slug)"
                            ><i class="fa fa-trash"></i
                          ></a> -->
                          </div>
                        </td>
                      </tr>
                    </tbody>
                    <div
                      class="has-text-centered d-flex justify-content-end"
                      *ngIf="declined.length > 0"
                    >
                      <pagination-controls
                        (pageChange)="navigateApprovedPage($event)"
                        previousLabel="Prev"
                        nextLabel="Next"
                        responsive="true"
                        id="approved"
                        class="my-pagination"
                      ></pagination-controls>
                    </div>
                  </div>
                  <div
                    class="tab-pane fade"
                    id="v-pills-pending"
                    role="tabpanel"
                    aria-labelledby="v-pills-pending-tab"
                  >
                    <tbody>
                      <p class="text-info p-2" *ngIf="pending.length == 0">
                        <i class="fa fa-info-circle"></i> Pending Ads will
                        appear here
                      </p>
                      <tr
                        data-category="sold"
                        *ngFor="
                          let ad of pending
                            | paginate
                              : {
                                  id: 'pending',
                                  itemsPerPage: pendingPaginationInfo.size,
                                  currentPage:
                                    pendingPaginationInfo.currentPage,
                                  totalItems:
                                    pendingPaginationInfo.totalElements
                                }
                        "
                      >
                        <td class="photo">
                          <img
                            class="img-fluid"
                            alt=""
                            src="{{ (ad?.adImages)[0].imageUrl }}"
                          />
                        </td>
                        <td data-title="Title">
                          <h3 class="ellipses">
                            {{ ad?.title }}
                          </h3>
                        </td>
                        <td data-title="Category">
                          {{ ad?.title }}
                        </td>
                        <td
                          data-title="Ad Status"
                          *ngIf="ad?.status === 'PENDING'"
                        >
                          <span class="adstatus adstatusexpired">pending</span>
                        </td>
                        <td
                          data-title="Ad Status"
                          *ngIf="ad?.status === 'APPROVED'"
                        >
                          <span class="adstatus adstatusactive">active</span>
                        </td>
                        <td
                          data-title="Ad Status"
                          *ngIf="ad?.status === 'DECLINED'"
                        >
                          <span class="adstatus adstatusinactive"
                            >Declined</span
                          >
                        </td>
                        <td data-title="Price">
                          <h3>{{ ad?.dailyPrice | currency: "₦" }}</h3>
                        </td>
                        <td data-title="Action">
                          <div class="btns-actions">
                            <a
                              class="btn-action btn-view click"
                              [routerLink]="[
                                '/ad/view',
                                ad?.slug,
                                ad?.user?.slug
                              ]"
                              ><i class="fa fa-eye"></i
                            ></a>
                            <!-- <a
                          class="btn-action btn-edit click"
                          [routerLink]="['/ad/edit', ad?.slug]"
                          ><i class="fa fa-pencil"></i
                        ></a> -->
                            <!-- <a
                          class="btn-action btn-delete click"
                          (click)="deleteAd(ad?.slug)"
                          ><i class="fa fa-trash"></i
                        ></a> -->
                          </div>
                        </td>
                      </tr>
                    </tbody>
                    <div
                      class="has-text-centered d-flex justify-content-end"
                      *ngIf="pending.length > 0"
                    >
                      <pagination-controls
                        (pageChange)="navigatePendingPage($event)"
                        previousLabel="Prev"
                        nextLabel="Next"
                        responsive="true"
                        id="pending"
                        class="my-pagination"
                      ></pagination-controls>
                    </div>
                  </div>
                  <div
                    class="tab-pane fade"
                    id="v-pills-declined"
                    role="tabpanel"
                    aria-labelledby="v-pills-declined-tab"
                  >
                    <p class="text-info p-2" *ngIf="declined.length == 0">
                      <i class="fa fa-info-circle"></i> Declined Ads will appear
                      here
                    </p>
                    <tbody>
                      <tr
                        data-category="sold"
                        *ngFor="
                          let ad of declined
                            | paginate
                              : {
                                  id: 'declined',
                                  itemsPerPage: declinedPaginationInfo.size,
                                  currentPage:
                                    declinedPaginationInfo.currentPage,
                                  totalItems:
                                    declinedPaginationInfo.totalElements
                                }
                        "
                      >
                        <td class="photo">
                          <img
                            class="img-fluid"
                            alt=""
                            src="{{ (ad?.adImages)[0].imageUrl }}"
                          />
                        </td>
                        <td data-title="Title">
                          <h3 class="ellipses">
                            {{ ad?.title }}
                          </h3>
                        </td>
                        <td data-title="Category">
                          {{ ad?.title }}
                        </td>
                        <td
                          data-title="Ad Status"
                          *ngIf="ad?.status === 'PENDING'"
                        >
                          <span class="adstatus adstatusexpired">pending</span>
                        </td>
                        <td
                          data-title="Ad Status"
                          *ngIf="ad?.status === 'APPROVED'"
                        >
                          <span class="adstatus adstatusactive">active</span>
                        </td>
                        <td
                          data-title="Ad Status"
                          *ngIf="ad?.status === 'DECLINED'"
                        >
                          <span class="adstatus adstatusinactive"
                            >Declined</span
                          >
                        </td>
                        <td data-title="Price">
                          <h3>{{ ad?.dailyPrice | currency: "₦" }}</h3>
                        </td>
                        <td data-title="Action">
                          <div class="btns-actions">
                            <a
                              class="btn-action btn-view click"
                              [routerLink]="[
                                '/ad/view',
                                ad?.slug,
                                ad?.user?.slug
                              ]"
                              ><i class="fa fa-eye"></i
                            ></a>
                            <!-- <a
                        class="btn-action btn-edit click"
                        [routerLink]="['/ad/edit', ad?.slug]"
                        ><i class="fa fa-pencil"></i
                      ></a> -->
                            <!-- <a
                        class="btn-action btn-delete click"
                        (click)="deleteAd(ad?.slug)"
                        ><i class="fa fa-trash"></i
                      ></a> -->
                          </div>
                        </td>
                      </tr>
                    </tbody>
                    <div
                      class="has-text-centered d-flex justify-content-end"
                      *ngIf="declined.length > 0"
                    >
                      <pagination-controls
                        (pageChange)="navigateDeclinedPage($event)"
                        previousLabel="Prev"
                        nextLabel="Next"
                        responsive="true"
                        id="declined"
                        class="my-pagination"
                      ></pagination-controls>
                    </div>
                  </div>
                  <div
                    class="tab-pane fade"
                    id="v-pills-expired"
                    role="tabpanel"
                    aria-labelledby="v-pills-expired-tab"
                  >
                    <p class="text-info p-2" *ngIf="expired.length == 0">
                      <i class="fa fa-info-circle"></i> Expired Ads will appear
                      here
                    </p>
                    <tbody>
                      <tr
                        data-category="sold"
                        *ngFor="
                          let ad of expired
                            | paginate
                              : {
                                  id: 'expired',
                                  itemsPerPage: expiredPaginationInfo.size,
                                  currentPage:
                                    expiredPaginationInfo.currentPage,
                                  totalItems:
                                    expiredPaginationInfo.totalElements
                                }
                        "
                      >
                        <td class="photo">
                          <img
                            class="img-fluid"
                            alt=""
                            src="{{ (ad?.adImages)[0].imageUrl }}"
                          />
                        </td>
                        <td data-title="Title">
                          <h3 class="ellipses">
                            {{ ad?.title }}
                          </h3>
                        </td>
                        <td data-title="Category">
                          {{ ad?.title }}
                        </td>
                        <td
                          data-title="Ad Status"
                          *ngIf="ad?.status === 'PENDING'"
                        >
                          <span class="adstatus adstatusexpired">pending</span>
                        </td>
                        <td
                          data-title="Ad Status"
                          *ngIf="ad?.status === 'APPROVED'"
                        >
                          <span class="adstatus adstatusactive">active</span>
                        </td>
                        <td
                          data-title="Ad Status"
                          *ngIf="ad?.status === 'DECLINED'"
                        >
                          <span class="adstatus adstatusinactive"
                            >Declined</span
                          >
                        </td>
                        <td data-title="Price">
                          <h3>{{ ad?.dailyPrice | currency: "₦" }}</h3>
                        </td>
                        <td data-title="Action">
                          <div class="btns-actions">
                            <a
                              class="btn-action btn-view click"
                              [routerLink]="[
                                '/ad/view',
                                ad?.slug,
                                ad?.user?.slug
                              ]"
                              ><i class="fa fa-eye"></i
                            ></a>
                            <!-- <a
                      class="btn-action btn-edit click"
                      [routerLink]="['/ad/edit', ad?.slug]"
                      ><i class="fa fa-pencil"></i
                    ></a> -->
                            <!-- <a
                      class="btn-action btn-delete click"
                      (click)="deleteAd(ad?.slug)"
                      ><i class="fa fa-trash"></i
                    ></a> -->
                          </div>
                        </td>
                      </tr>
                    </tbody>
                    <div
                      class="has-text-centered d-flex justify-content-end"
                      *ngIf="expired.length > 0"
                    >
                      <pagination-controls
                        (pageChange)="navigateExpiredPage($event)"
                        previousLabel="Prev"
                        nextLabel="Next"
                        responsive="true"
                        id="expired"
                        class="my-pagination"
                      ></pagination-controls>
                    </div>
                  </div>
                  <div
                    class="tab-pane fade"
                    id="v-pills-disabled"
                    role="tabpanel"
                    aria-labelledby="v-pills-disabled-tab"
                  >
                    <tbody>
                      <tr
                        data-category="sold"
                        *ngFor="
                          let ad of disabled
                            | paginate
                              : {
                                  id: 'disabled',
                                  itemsPerPage: disabledPaginationInfo.size,
                                  currentPage:
                                    disabledPaginationInfo.currentPage,
                                  totalItems:
                                    disabledPaginationInfo.totalElements
                                }
                        "
                      >
                        <td class="photo">
                          <img
                            class="img-fluid"
                            alt=""
                            src="{{ (ad?.adImages)[0].imageUrl }}"
                          />
                        </td>
                        <td data-title="Title">
                          <h3 class="ellipses">
                            {{ ad?.title }}
                          </h3>
                        </td>
                        <td data-title="Category">
                          {{ ad?.title }}
                        </td>
                        <td
                          data-title="Ad Status"
                          *ngIf="ad?.status === 'PENDING'"
                        >
                          <span class="adstatus adstatusexpired">pending</span>
                        </td>
                        <td
                          data-title="Ad Status"
                          *ngIf="ad?.status === 'APPROVED'"
                        >
                          <span class="adstatus adstatusactive">active</span>
                        </td>
                        <td
                          data-title="Ad Status"
                          *ngIf="ad?.status === 'DECLINED'"
                        >
                          <span class="adstatus adstatusinactive"
                            >Declined</span
                          >
                        </td>
                        <td data-title="Price">
                          <h3>{{ ad?.dailyPrice | currency: "₦" }}</h3>
                        </td>
                        <td data-title="Action">
                          <div class="btns-actions">
                            <a
                              class="btn-action btn-view click"
                              [routerLink]="[
                                '/ad/view',
                                ad?.slug,
                                ad?.user?.slug
                              ]"
                              ><i class="fa fa-eye"></i
                            ></a>
                            <!-- <a
                    class="btn-action btn-edit click"
                    [routerLink]="['/ad/edit', ad?.slug]"
                    ><i class="fa fa-pencil"></i
                  ></a> -->
                            <!-- <a
                    class="btn-action btn-delete click"
                    (click)="deleteAd(ad?.slug)"
                    ><i class="fa fa-trash"></i
                  ></a> -->
                          </div>
                        </td>
                      </tr>
                    </tbody>
                    <div class="has-text-centered d-flex justify-content-end">
                      <pagination-controls
                        (pageChange)="navigateDisabledPage($event)"
                        previousLabel="Prev"
                        nextLabel="Next"
                        responsive="true"
                        id="disabled"
                        class="my-pagination"
                      ></pagination-controls>
                    </div>
                  </div>
                  <div
                    class="tab-pane fade"
                    id="v-pills-closed"
                    role="tabpanel"
                    aria-labelledby="v-pills-closed-tab"
                  >
                    <p class="text-info p-2" *ngIf="closed.length == 0">
                      <i class="fa fa-info-circle"></i> Closed Ads will appear
                      here
                    </p>

                    <tbody>
                      <tr
                        data-category="sold"
                        *ngFor="
                          let ad of closed
                            | paginate
                              : {
                                  id: 'closed',
                                  itemsPerPage: closedPaginationInfo.size,
                                  currentPage: closedPaginationInfo.currentPage,
                                  totalItems: closedPaginationInfo.totalElements
                                }
                        "
                      >
                        <td class="photo">
                          <img
                            class="img-fluid"
                            alt=""
                            src="{{ (ad?.adImages)[0].imageUrl }}"
                          />
                        </td>
                        <td data-title="Title">
                          <h3 class="ellipses">
                            {{ ad?.title }}
                          </h3>
                        </td>
                        <td data-title="Category">
                          {{ ad?.title }}
                        </td>
                        <td
                          data-title="Ad Status"
                          *ngIf="ad?.status === 'PENDING'"
                        >
                          <span class="adstatus adstatusexpired">pending</span>
                        </td>
                        <td
                          data-title="Ad Status"
                          *ngIf="ad?.status === 'APPROVED'"
                        >
                          <span class="adstatus adstatusactive">active</span>
                        </td>
                        <td
                          data-title="Ad Status"
                          *ngIf="ad?.status === 'DECLINED'"
                        >
                          <span class="adstatus adstatusinactive"
                            >Declined</span
                          >
                        </td>
                        <td data-title="Price">
                          <h3>{{ ad?.dailyPrice | currency: "₦" }}</h3>
                        </td>
                        <td data-title="Action">
                          <div class="btns-actions">
                            <a
                              class="btn-action btn-view click"
                              [routerLink]="[
                                '/ad/view',
                                ad?.slug,
                                ad?.user?.slug
                              ]"
                              ><i class="fa fa-eye"></i
                            ></a>
                            <!-- <a
                  class="btn-action btn-edit click"
                  [routerLink]="['/ad/edit', ad?.slug]"
                  ><i class="fa fa-pencil"></i
                ></a> -->
                            <!-- <a
                  class="btn-action btn-delete click"
                  (click)="deleteAd(ad?.slug)"
                  ><i class="fa fa-trash"></i
                ></a> -->
                          </div>
                        </td>
                      </tr>
                    </tbody>
                    <div
                      class="has-text-centered d-flex justify-content-end"
                      *ngIf="closed.length > 0"
                    >
                      <pagination-controls
                        (pageChange)="navigateMyAdPage($event)"
                        previousLabel="Prev"
                        nextLabel="Next"
                        responsive="true"
                        id="closed"
                        class="my-pagination"
                      ></pagination-controls>
                    </div>
                  </div>
                </div>
              </table>
            </div>
          </div>

          <div
            class="inner-box tab-pane fade show active"
            id="v-pills-profile"
            role="tabpanel"
            aria-labelledby="v-pills-profile-tab"
          >
            <div class="dashboard-box">
              <h2 class="dashbord-title">Contact Detail</h2>
            </div>
            <div class="dashboard-wrapper" [formGroup]="profileForm">
              <div class="form-group mb-3">
                <label class="control-label">First Name*</label>
                <input
                  class="form-control input-md"
                  name="name"
                  type="text"
                  formControlName="firstName"
                />
              </div>
              <div class="form-group mb-3">
                <label class="control-label">Last Name*</label>
                <input
                  class="form-control input-md"
                  name="name"
                  type="text"
                  formControlName="lastName"
                />
              </div>
              <div class="form-group mb-3">
                <label class="control-label">Phone*</label>
                <input
                  class="form-control input-md"
                  name="phoneNumber"
                  type="text"
                  formControlName="phoneNumber"
                />
              </div>
              <div class="form-group mb-3">
                <label class="control-label">Address</label>
                <input
                  class="form-control input-md"
                  formControlName="address"
                  name="address"
                  type="text"
                />
              </div>
              <div class="form-group mb-3">
                <label class="control-label">Email</label>
                <input
                  class="form-control input-md"
                  name="email"
                  formControlName="email"
                  type="email"
                  autocomplete="email"
                />
              </div>
              <div class="d-flex justify-content-end">
                <button
                  id="update"
                  class="btn btn-common"
                  style="background-color: #2196f3; color: white"
                  type="button"
                  (click)="toggleDisabled()"
                >
                  Edit
                </button>
                <div class="ml-3" *ngIf="IsHidden">
                  <button
                    class="btn btn-common"
                    style="background-color: #2196f3; color: white"
                    type="button"
                    (click)="updateProfile()"
                  >
                    update
                  </button>
                </div>
              </div>
            </div>
            <div class="">
              <button
                class="btn btn-common"
                style="background-color: #2196f3; color: white"
                type="button"
                (click)="togglePasswordUpdate()"
              >
                Change password
              </button>
            </div>
            <div
              class="dashboard-wrapper"
              [formGroup]="updatePasswordForm"
              *ngIf="show"
            >
              <div class="form-group mb-3">
                <label class="control-label">Enter old password*</label>
                <input
                  class="form-control input-md"
                  type="password"
                  name="password"
                  formControlName="oldPassword"
                />
              </div>
              <div class="form-group mb-3">
                <label class="control-label">Enter new password*</label>
                <input
                  class="form-control input-md"
                  name="password"
                  type="password"
                  autocomplete="new-password"
                  formControlName="newPassword"
                />
              </div>
              <div class="d-flex justify-content-end">
                <button
                  (click)="updatePassword()"
                  class="btn btn-common"
                  style="background-color: #2196f3; color: white"
                  type="button"
                >
                  Change
                </button>
              </div>
            </div>
          </div>
          <div
            class="inner-box tab-pane fade"
            id="v-pills-create"
            role="tabpanel"
            aria-labelledby="v-pills-create-tab"
          >
            <div class="dashboard-box">
              <h2 class="dashbord-title">Create Admin User</h2>
            </div>
            <div class="dashboard-wrapper" [formGroup]="adminForm">
              <div class="form-group mb-3">
                <label class="control-label">First Name*</label>
                <input
                  class="form-control input-md"
                  name="name"
                  type="text"
                  formControlName="firstName"
                />
              </div>
              <div class="form-group mb-3">
                <label class="control-label">Last Name*</label>
                <input
                  class="form-control input-md"
                  name="name"
                  type="text"
                  formControlName="lastName"
                />
              </div>
              <div class="form-group mb-3">
                <label class="control-label">Phone*</label>
                <input
                  class="form-control input-md"
                  name="phoneNumber"
                  type="text"
                  formControlName="phoneNumber"
                />
              </div>

              <div class="form-group mb-3">
                <label class="control-label">Email</label>
                <input
                  class="form-control input-md"
                  name="email"
                  formControlName="email"
                  type="email"
                  autocomplete="email"
                />
              </div>
              <div class="form-group mb-3">
                <label class="control-label">Password</label>
                <input
                  class="form-control input-md"
                  formControlName="password"
                  name="password"
                  type="password"
                />
              </div>
              <div class="d-flex justify-content-end">
                <div class="">
                  <button
                    class="btn btn-common"
                    style="background-color: #2196f3; color: white"
                    type="button"
                    (click)="createAdmin()"
                  >
                    create
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- favorites -->

<app-footer></app-footer>
