<app-nav></app-nav>
<div id="content" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-3 page-sidebar">
        <aside>
          <div class="sidebar-box">
            <div class="user">
              <figure>
                <a *ngIf="avatarUrl"
                  ><img src="{{ avatarUrl }}" alt="" class="avatarUrl"
                /></a>
                <a *ngIf="!avatarUrl"
                  ><img
                    src="{{
                      myProfile?.avatarUrl
                        ? myProfile?.avatarUrl
                        : '../../assets/images/avatars/avatar.jpg'
                    }}"
                    class="avatarUrl"
                    alt=""
                /></a>
              </figure>
              <div class="usercontent">
                <h3>User</h3>
                <h4>{{ myProfile?.lastName }} {{ myProfile?.firstName }}</h4>
              </div>
              <div class="d-flex justify-content-end">
                <label
                  class="btn btn-common"
                  style="background-color: white; color: #2196f3"
                  type="button"
                  for="file"
                >
                  upload avatar
                </label>
                <input
                  type="file"
                  name="file"
                  id="file"
                  (change)="uploadAvatar($event.target.files[0])"
                />
              </div>
            </div>
            <nav class="navdashboard">
              <ul class="nav">
                <li>
                  <a
                    class="active"
                    href="#v-pills-dashboard"
                    data-toggle="pill"
                  >
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                  </a>
                </li>
                <li>
                  <a href="#v-pills-profile" data-toggle="pill">
                    <i class="fa fa-cog"></i>
                    <span>Profile Settings</span>
                  </a>
                </li>
                <li>
                  <a href="#v-pills-my-ads" data-toggle="pill">
                    <i class="fa fa-stack-overflow"></i>
                    <span>My Ads</span>
                  </a>
                </li>
                <li>
                  <a href="#v-pills-messages" data-toggle="pill">
                    <i class="fa fa-envelope"></i>
                    <span>Messages</span>
                  </a>
                </li>

                <li>
                  <a href="#v-pills-favorites" data-toggle="pill">
                    <i class="fa fa-heart"></i>
                    <span>My Favourites</span>
                  </a>
                </li>
                <li>
                  <a (click)="logout()" class="click">
                    <i class="fa fa-sign-out"></i>
                    <span>Logout</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="widget">
            <h4 class="widget-title">Advertisement</h4>
            <div class="add-box">
              <!-- Advert goes here -->
            </div>
          </div>
        </aside>
      </div>
      <div class="col-sm-12 col-md-8 col-lg-9">
        <div class="page-content tab-content">
          <div
            class="inner-box tab-pane fade show active"
            id="v-pills-dashboard"
            role="tabpanel"
            aria-labelledby="v-pills-dashboard-tab"
          >
            <div class="dashboard-box d-flex justify-content-between">
              <div>
                <h2 class="dashbord-title">Dashboard</h2>
              </div>
              <div class="click" routerLink="/home">
                <h2 class="dashbord-title">
                  Go to marketplace<i
                    class="fa fa-shopping-cart"
                    aria-hidden="true"
                  ></i>
                </h2>
              </div>
            </div>
            <div class="dashboard-wrapper">
              <div class="dashboard-sections">
                <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                    <div class="dashboardbox">
                      <div class="icon"><i class="fa fa-file-o"></i></div>
                      <div class="contentbox">
                        <h2>All Ads</h2>
                        <h3>{{ myAds.length }} Ads</h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                    <div class="dashboardbox">
                      <div class="icon"><i class="fa fa-file-o"></i></div>
                      <div class="contentbox">
                        <h2>Saved Ads</h2>
                        <h3>{{ favoritAds.length }} Ads Saved</h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                    <div class="dashboardbox">
                      <div class="icon"><i class="fa fa-commenting-o"></i></div>
                      <div class="contentbox">
                        <h2>Message(s)</h2>
                        <h3>{{ recievedMessages.length }} Messages</h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                    <div class="dashboardbox">
                      <div class="icon"><i class="fa fa-money"></i></div>
                      <div class="contentbox">
                        <h2>Coins</h2>
                        <h3>{{ myProfile.coins }} Coins</h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="mt-2">
                    <p class=""><b>My referrer link</b></p>
                  </div>
                  <div class="input-group mb-3">
                    <input
                      id="referral"
                      class="form-control"
                      type="text"
                      size="20"
                      value="{{ getProtocolAndHostname().protocol }}//{{
                        getProtocolAndHostname().hostname
                      }}/#/register;referrer={{ myProfile.referralCode }}"
                    />
                    <div
                      class="input-group-append click"
                      (click)="copyToClipboard()"
                    >
                      <span class="input-group-text"
                        ><i class="fa fa-clone"></i
                      ></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="inner-box tab-pane fade"
            id="v-pills-favorites"
            role="tabpanel"
            aria-labelledby="v-pills-favorites-tab"
          >
            <div class="dashboard-box">
              <h2 class="dashbord-title">My Favourites</h2>
            </div>
            <div class="dashboard-wrapper">
              <p *ngIf="favoritAds.length === 0" class="text-info">
                You do not have any saved ads yet. Try liking an ad to save it
                here
              </p>
              <table
                class="table table-responsive dashboardtable tablemyads"
                *ngIf="favoritAds.length != 0"
              >
                <thead>
                  <tr>
                    <th>Photo</th>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Ad Status</th>
                    <th>Price</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    data-category="deleted"
                    *ngFor="
                      let favorite of favoritAds
                        | paginate
                          : {
                              id: 'favorites',
                              itemsPerPage: favoritAdsPaginationInfo.size,
                              currentPage: favoritAdsPaginationInfo.number,
                              totalItems: favoritAdsPaginationInfo.totalElements
                            }
                    "
                  >
                    <td class="photo">
                      <img
                        class="img-fluid"
                        src="assets/img/product/img10.jpg"
                        alt=""
                      />
                    </td>
                    <td data-title="Title">
                      <h3>{{ favorite?.title }}y</h3>
                    </td>
                    <td data-title="Category">
                      {{ favorite?.subCategory?.category?.name }}
                    </td>
                    <td data-title="Ad Status">
                      <span class="adstatus adstatusactive">{{
                        favorite?.status
                      }}</span>
                    </td>
                    <td data-title="Price">
                      <h3>{{ favorite?.price | currency: "₦" }}</h3>
                    </td>
                    <td data-title="Action">
                      <div class="btns-actions">
                        <a
                          class="btn-action btn-view"
                          [routerLink]="[
                            '/ad/view',
                            favorite?.slug,
                            favorite?.user?.slug
                          ]"
                          ><i class="fa fa-eye"></i
                        ></a>
                        <a
                          class="btn-action btn-edit"
                          [routerLink]="['/ad/edit', favorite?.slug]"
                          ><i class="fa fa-pencil"></i
                        ></a>
                        <a
                          class="btn-action btn-delete"
                          (click)="deleteAd(favorite?.slug)"
                          ><i class="fa fa-trash"></i
                        ></a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div
                class="d-flex justify-content-end"
                *ngIf="favoritAds.length != 0"
              >
                <pagination-controls
                  (pageChange)="navigateMyAdPage($event)"
                  id="favorites"
                  class="my-pagination"
                ></pagination-controls>
              </div>
            </div>
          </div>
          <!-- myAds -->
          <div
            class="inner-box tab-pane fade"
            id="v-pills-my-ads"
            role="tabpanel"
            aria-labelledby="v-pills-my-ads-tab"
          >
            <div class="dashboard-box">
              <h2 class="dashbord-title">My Ads</h2>
            </div>
            <div class="dashboard-wrapper">
              <nav class="nav-table">
                <ul class="nav nav-pills">
                  <li class="nav-item">
                    <a
                      class="nav-link active"
                      href="#v-pills-all-ads"
                      data-toggle="pill"
                      >All Ads ({{ myAdsPaginationInfo?.totalElements }})</a
                    >
                  </li>
                  <li class="nav-item">
                    <a href="#v-pills-approved" data-toggle="pill"
                      >Approved ({{ approvedPaginationInfo?.totalElements }})</a
                    >
                  </li>
                  <li class="nav-item">
                    <a href="#v-pills-pending" data-toggle="pill">
                      Pending ({{ pendingPaginationInfo?.totalElements }})</a
                    >
                  </li>
                  <li class="nav-item">
                    <a href="#v-pills-disabled" data-toggle="pill"
                      >Disabled ({{ disabledPaginationInfo?.totalElements }})</a
                    >
                  </li>
                  <li class="nav-item">
                    <a href="#v-pills-declined" data-toggle="pill"
                      >Declined ({{ declinedPaginationInfo?.totalElements }})</a
                    >
                  </li>

                  <li class="nav-item">
                    <a href="#v-pills-expired" data-toggle="pill"
                      >Expired ({{ expiredPaginationInfo?.totalElements }})</a
                    >
                  </li>
                  <li class="nav-item">
                    <a href="#v-pills-closed" data-toggle="pill"
                      >Closed ({{ closedPaginationInfo?.totalElements }})</a
                    >
                  </li>
                </ul>
              </nav>

              <table
                class="table table-responsive dashboardtable tablemyads"
                *ngIf="myAds.length != 0"
              >
                <thead>
                  <tr>
                    <th>Photo</th>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Ad Status</th>
                    <th>Price</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <div class="page-content tab-content">
                  <div
                    class="tab-pane fade show active"
                    id="v-pills-all-ads"
                    role="tabpanel"
                    aria-labelledby="v-pills-all-ads-tab"
                  >
                    <tbody>
                      <p *ngIf="myAds.length == 0" class="text-info">
                        You do not have any ads yet. Try posting an ad to view
                        it here
                      </p>
                      <tr
                        data-category="sold"
                        *ngFor="
                          let ad of myAds
                            | paginate
                              : {
                                  id: 'myAds',
                                  itemsPerPage: myAdsPaginationInfo.size,
                                  currentPage: myAdsPaginationInfo.number,
                                  totalItems: myAdsPaginationInfo.totalElements
                                }
                        "
                      >
                        <td class="photo">
                          <img
                            class="img-fluid"
                            alt=""
                            src="{{ (ad?.adImages)[0].imageUrl }}"
                          />
                        </td>
                        <td data-title="Title">
                          <h3 class="ellipses">
                            {{ ad?.title }}
                          </h3>
                        </td>
                        <td data-title="Category">
                          {{ ad?.title }}
                        </td>
                        <td
                          data-title="Ad Status"
                          *ngIf="ad?.status === 'PENDING'"
                        >
                          <span class="adstatus adstatuspending">pending</span>
                        </td>
                        <td
                          data-title="Ad Status"
                          *ngIf="ad?.status === 'APPROVED'"
                        >
                          <span class="adstatus adstatusactive">active</span>
                        </td>
                        <td
                          data-title="Ad Status"
                          *ngIf="ad?.status === 'DECLINED'"
                        >
                          <span class="adstatus adstatusinactive"
                            >Declined</span
                          >
                        </td>

                        <td
                          data-title="Ad Status"
                          *ngIf="ad?.status === 'EXPIRED'"
                        >
                          <span class="adstatus adstatusexpired">expired</span>
                        </td>
                        <td
                          data-title="Ad Status"
                          *ngIf="ad?.status === 'DISABLED'"
                        >
                          <span class="adstatus adstatusdisabled"
                            >disabled</span
                          >
                        </td>
                        <td
                          data-title="Ad Status"
                          *ngIf="ad?.status === 'CLOSED'"
                        >
                          <span class="adstatus adstatusclosed">closed</span>
                        </td>
                        <td data-title="Price">
                          <h3>{{ ad?.dailyPrice | currency: "₦" }}</h3>
                        </td>
                        <td data-title="Action">
                          <div class="btns-actions">
                            <a
                              class="btn-action btn-view click"
                              [routerLink]="[
                                '/ad/view',
                                ad?.slug,
                                ad?.user?.slug
                              ]"
                              ><i class="fa fa-eye"></i
                            ></a>
                            <!-- <a
                            class="btn-action btn-edit click"
                            [routerLink]="['/ad/edit', ad?.slug]"
                            ><i class="fa fa-pencil"></i
                          ></a> -->
                            <!-- <a
                            class="btn-action btn-delete click"
                            (click)="deleteAd(ad?.slug)"
                            ><i class="fa fa-trash"></i
                          ></a> -->
                          </div>
                        </td>
                      </tr>
                    </tbody>
                    <div class="has-text-centered d-flex justify-content-end">
                      <pagination-controls
                        (pageChange)="navigateMyAdPage($event)"
                        previousLabel="Prev"
                        nextLabel="Next"
                        responsive="true"
                        id="myAds"
                        class="my-pagination"
                      ></pagination-controls>
                    </div>
                  </div>
                  <div
                    class="tab-pane fade"
                    id="v-pills-approved"
                    role="tabpanel"
                    aria-labelledby="v-pills-approved-tab"
                  >
                    <p class="text-info p-2" *ngIf="approved.length == 0">
                      <i class="fa fa-info-circle"></i> Approved Ads will appear
                      here
                    </p>
                    <tbody>
                      <tr
                        data-category="sold"
                        *ngFor="
                          let ad of approved
                            | paginate
                              : {
                                  id: 'approved',
                                  itemsPerPage: approvedPaginationInfo.size,
                                  currentPage: approvedPaginationInfo.number,
                                  totalItems:
                                    approvedPaginationInfo.totalElements
                                }
                        "
                      >
                        <td class="photo">
                          <img
                            class="img-fluid"
                            alt=""
                            src="{{ (ad?.adImages)[0].imageUrl }}"
                          />
                        </td>
                        <td data-title="Title">
                          <h3 class="ellipses">
                            {{ ad?.title }}
                          </h3>
                        </td>
                        <td data-title="Category">
                          {{ ad?.title }}
                        </td>
                        <td
                          data-title="Ad Status"
                          *ngIf="ad?.status === 'PENDING'"
                        >
                          <span class="adstatus adstatusexpired">pending</span>
                        </td>
                        <td
                          data-title="Ad Status"
                          *ngIf="ad?.status === 'APPROVED'"
                        >
                          <span class="adstatus adstatusactive">active</span>
                        </td>
                        <td
                          data-title="Ad Status"
                          *ngIf="ad?.status === 'DECLINED'"
                        >
                          <span class="adstatus adstatusinactive"
                            >Declined</span
                          >
                        </td>
                        <td data-title="Price">
                          <h3>{{ ad?.dailyPrice | currency: "₦" }}</h3>
                        </td>
                        <td data-title="Action">
                          <div class="btns-actions">
                            <a
                              class="btn-action btn-view click"
                              [routerLink]="[
                                '/ad/view',
                                ad?.slug,
                                ad?.user?.slug
                              ]"
                              ><i class="fa fa-eye"></i
                            ></a>
                            <!-- <a
                            class="btn-action btn-edit click"
                            [routerLink]="['/ad/edit', ad?.slug]"
                            ><i class="fa fa-pencil"></i
                          ></a> -->
                            <!-- <a
                            class="btn-action btn-delete click"
                            (click)="deleteAd(ad?.slug)"
                            ><i class="fa fa-trash"></i
                          ></a> -->
                          </div>
                        </td>
                      </tr>
                    </tbody>
                    <div class="has-text-centered d-flex justify-content-end">
                      <pagination-controls
                        (pageChange)="navigateApprovedPage($event)"
                        previousLabel="Prev"
                        nextLabel="Next"
                        responsive="true"
                        id="approved"
                        class="my-pagination"
                      ></pagination-controls>
                    </div>
                  </div>
                  <div
                    class="tab-pane fade"
                    id="v-pills-pending"
                    role="tabpanel"
                    aria-labelledby="v-pills-pending-tab"
                  >
                    <p class="text-info p-2" *ngIf="pending.length == 0">
                      <i class="fa fa-info-circle"></i> Pending Ads will appear
                      here
                    </p>
                    <tbody>
                      <tr
                        data-category="sold"
                        *ngFor="
                          let ad of pending
                            | paginate
                              : {
                                  id: 'pending',
                                  itemsPerPage: pendingPaginationInfo.size,
                                  currentPage: pendingPaginationInfo.number,
                                  totalItems:
                                    pendingPaginationInfo.totalElements
                                }
                        "
                      >
                        <td class="photo">
                          <img
                            class="img-fluid"
                            alt=""
                            src="{{ (ad?.adImages)[0].imageUrl }}"
                          />
                        </td>
                        <td data-title="Title">
                          <h3 class="ellipses">
                            {{ ad?.title }}
                          </h3>
                        </td>
                        <td data-title="Category">
                          {{ ad?.title }}
                        </td>
                        <td
                          data-title="Ad Status"
                          *ngIf="ad?.status === 'PENDING'"
                        >
                          <span class="adstatus adstatuspending">pending</span>
                        </td>

                        <td data-title="Price">
                          <h3>{{ ad?.dailyPrice | currency: "₦" }}</h3>
                        </td>
                        <td data-title="Action">
                          <div class="btns-actions">
                            <a
                              class="btn-action btn-view click"
                              [routerLink]="[
                                '/ad/view',
                                ad?.slug,
                                ad?.user?.slug
                              ]"
                              ><i class="fa fa-eye"></i
                            ></a>
                            <!-- <a
                          class="btn-action btn-edit click"
                          [routerLink]="['/ad/edit', ad?.slug]"
                          ><i class="fa fa-pencil"></i
                        ></a> -->
                            <!-- <a
                          class="btn-action btn-delete click"
                          (click)="deleteAd(ad?.slug)"
                          ><i class="fa fa-trash"></i
                        ></a> -->
                          </div>
                        </td>
                      </tr>
                    </tbody>
                    <div class="has-text-centered d-flex justify-content-end">
                      <pagination-controls
                        (pageChange)="navigatePendingPage($event)"
                        previousLabel="Prev"
                        nextLabel="Next"
                        responsive="true"
                        id="pending"
                        class="my-pagination"
                      ></pagination-controls>
                    </div>
                  </div>
                  <div
                    class="tab-pane fade"
                    id="v-pills-declined"
                    role="tabpanel"
                    aria-labelledby="v-pills-declined-tab"
                  >
                    <p class="text-info p-2" *ngIf="declined.length == 0">
                      <i class="fa fa-info-circle"></i> Declined Ads will appear
                      here
                    </p>
                    <tbody>
                      <tr
                        data-category="sold"
                        *ngFor="
                          let ad of declined
                            | paginate
                              : {
                                  id: 'declined',
                                  itemsPerPage: declinedPaginationInfo.size,
                                  currentPage: declinedPaginationInfo.number,
                                  totalItems:
                                    declinedPaginationInfo.totalElements
                                }
                        "
                      >
                        <td class="photo">
                          <img
                            class="img-fluid"
                            alt=""
                            src="{{ (ad?.adImages)[0].imageUrl }}"
                          />
                        </td>
                        <td data-title="Title">
                          <h3 class="ellipses">
                            {{ ad?.title }}
                          </h3>
                        </td>
                        <td data-title="Category">
                          {{ ad?.title }}
                        </td>

                        <td
                          data-title="Ad Status"
                          *ngIf="ad?.status === 'DECLINED'"
                        >
                          <span class="adstatus adstatusinactive"
                            >Declined</span
                          >
                        </td>
                        <td data-title="Price">
                          <h3>{{ ad?.dailyPrice | currency: "₦" }}</h3>
                        </td>
                        <td data-title="Action">
                          <div class="btns-actions">
                            <a
                              class="btn-action btn-view click"
                              [routerLink]="[
                                '/ad/view',
                                ad?.slug,
                                ad?.user?.slug
                              ]"
                              ><i class="fa fa-eye"></i
                            ></a>
                            <!-- <a
                        class="btn-action btn-edit click"
                        [routerLink]="['/ad/edit', ad?.slug]"
                        ><i class="fa fa-pencil"></i
                      ></a> -->
                            <!-- <a
                        class="btn-action btn-delete click"
                        (click)="deleteAd(ad?.slug)"
                        ><i class="fa fa-trash"></i
                      ></a> -->
                          </div>
                        </td>
                      </tr>
                    </tbody>
                    <div class="has-text-centered d-flex justify-content-end">
                      <pagination-controls
                        (pageChange)="navigateDeclinedPage($event)"
                        previousLabel="Prev"
                        nextLabel="Next"
                        responsive="true"
                        id="declined"
                        class="my-pagination"
                      ></pagination-controls>
                    </div>
                  </div>
                  <div
                    class="tab-pane fade"
                    id="v-pills-expired"
                    role="tabpanel"
                    aria-labelledby="v-pills-expired-tab"
                  >
                    <p class="text-info p-2" *ngIf="expired.length == 0">
                      <i class="fa fa-info-circle"></i> Expired Ads will appear
                      here
                    </p>
                    <tbody>
                      <tr
                        data-category="sold"
                        *ngFor="
                          let ad of expired
                            | paginate
                              : {
                                  id: 'expired',
                                  itemsPerPage: expiredPaginationInfo.size,
                                  currentPage: expiredPaginationInfo.number,
                                  totalItems:
                                    expiredPaginationInfo.totalElements
                                }
                        "
                      >
                        <td class="photo">
                          <img
                            class="img-fluid"
                            alt=""
                            src="{{ (ad?.adImages)[0].imageUrl }}"
                          />
                        </td>
                        <td data-title="Title">
                          <h3 class="ellipses">
                            {{ ad?.title }}
                          </h3>
                        </td>
                        <td data-title="Category">
                          {{ ad?.title }}
                        </td>

                        <td
                          data-title="Ad Status"
                          *ngIf="ad?.status === 'DECLINED'"
                        >
                          <span class="adstatus adstatusexpired">Expired</span>
                        </td>
                        <td data-title="Price">
                          <h3>{{ ad?.dailyPrice | currency: "₦" }}</h3>
                        </td>
                        <td data-title="Action">
                          <div class="btns-actions">
                            <a
                              class="btn-action btn-view click"
                              [routerLink]="[
                                '/ad/view',
                                ad?.slug,
                                ad?.user?.slug
                              ]"
                              ><i class="fa fa-eye"></i
                            ></a>
                            <!-- <a
                      class="btn-action btn-edit click"
                      [routerLink]="['/ad/edit', ad?.slug]"
                      ><i class="fa fa-pencil"></i
                    ></a> -->
                            <!-- <a
                      class="btn-action btn-delete click"
                      (click)="deleteAd(ad?.slug)"
                      ><i class="fa fa-trash"></i
                    ></a> -->
                          </div>
                        </td>
                      </tr>
                    </tbody>
                    <div class="has-text-centered d-flex justify-content-end">
                      <pagination-controls
                        (pageChange)="navigateExpiredPage($event)"
                        previousLabel="Prev"
                        nextLabel="Next"
                        responsive="true"
                        id="expired"
                        class="my-pagination"
                      ></pagination-controls>
                    </div>
                  </div>
                  <div
                    class="tab-pane fade"
                    id="v-pills-disabled"
                    role="tabpanel"
                    aria-labelledby="v-pills-disabled-tab"
                  >
                    <p class="text-info p-2" *ngIf="disabled.length == 0">
                      <i class="fa fa-info-circle"></i> Disabled Ads will appear
                      here
                    </p>
                    <tbody>
                      <tr
                        data-category="sold"
                        *ngFor="
                          let ad of disabled
                            | paginate
                              : {
                                  id: 'disabled',
                                  itemsPerPage: disabledPaginationInfo.size,
                                  currentPage: disabledPaginationInfo.number,
                                  totalItems:
                                    disabledPaginationInfo.totalElements
                                }
                        "
                      >
                        <td class="photo">
                          <img
                            class="img-fluid"
                            alt=""
                            src="{{ (ad?.adImages)[0].imageUrl }}"
                          />
                        </td>
                        <td data-title="Title">
                          <h3 class="ellipses">
                            {{ ad?.title }}
                          </h3>
                        </td>
                        <td data-title="Category">
                          {{ ad?.title }}
                        </td>

                        <td
                          data-title="Ad Status"
                          *ngIf="ad?.status === 'DISABLED'"
                        >
                          <span class="adstatus adstatusdisabled"
                            >Disabled</span
                          >
                        </td>
                        <td data-title="Price">
                          <h3>{{ ad?.dailyPrice | currency: "₦" }}</h3>
                        </td>
                        <td data-title="Action">
                          <div class="btns-actions">
                            <a
                              class="btn-action btn-view click"
                              [routerLink]="[
                                '/ad/view',
                                ad?.slug,
                                ad?.user?.slug
                              ]"
                              ><i class="fa fa-eye"></i
                            ></a>
                            <!-- <a
                    class="btn-action btn-edit click"
                    [routerLink]="['/ad/edit', ad?.slug]"
                    ><i class="fa fa-pencil"></i
                  ></a> -->
                            <!-- <a
                    class="btn-action btn-delete click"
                    (click)="deleteAd(ad?.slug)"
                    ><i class="fa fa-trash"></i
                  ></a> -->
                          </div>
                        </td>
                      </tr>
                    </tbody>
                    <div class="has-text-centered d-flex justify-content-end">
                      <pagination-controls
                        (pageChange)="navigateDisabledPage($event)"
                        previousLabel="Prev"
                        nextLabel="Next"
                        responsive="true"
                        id="disabled"
                        class="my-pagination"
                      ></pagination-controls>
                    </div>
                  </div>
                  <div
                    class="tab-pane fade"
                    id="v-pills-closed"
                    role="tabpanel"
                    aria-labelledby="v-pills-closed-tab"
                  >
                    <p class="text-info p-2" *ngIf="closed.length == 0">
                      <i class="fa fa-info-circle"></i> Closed Ads will appear
                      here
                    </p>
                    <tbody>
                      <tr
                        data-category="sold"
                        *ngFor="
                          let ad of closed
                            | paginate
                              : {
                                  id: 'closed',
                                  itemsPerPage: closedPaginationInfo.size,
                                  currentPage: closedPaginationInfo.number,
                                  totalItems: closedPaginationInfo.totalElements
                                }
                        "
                      >
                        <td class="photo">
                          <img
                            class="img-fluid"
                            alt=""
                            src="{{ (ad?.adImages)[0].imageUrl }}"
                          />
                        </td>
                        <td data-title="Title">
                          <h3 class="ellipses">
                            {{ ad?.title }}
                          </h3>
                        </td>
                        <td data-title="Category">
                          {{ ad?.title }}
                        </td>

                        <td
                          data-title="Ad Status"
                          *ngIf="ad?.status === 'CLOSED'"
                        >
                          <span class="adstatus adstatusclosed">Closed</span>
                        </td>
                        <td data-title="Price">
                          <h3>{{ ad?.dailyPrice | currency: "₦" }}</h3>
                        </td>
                        <td data-title="Action">
                          <div class="btns-actions">
                            <a
                              class="btn-action btn-view click"
                              [routerLink]="[
                                '/ad/view',
                                ad?.slug,
                                ad?.user?.slug
                              ]"
                              ><i class="fa fa-eye"></i
                            ></a>
                            <!-- <a
                  class="btn-action btn-edit click"
                  [routerLink]="['/ad/edit', ad?.slug]"
                  ><i class="fa fa-pencil"></i
                ></a> -->
                            <!-- <a
                  class="btn-action btn-delete click"
                  (click)="deleteAd(ad?.slug)"
                  ><i class="fa fa-trash"></i
                ></a> -->
                          </div>
                        </td>
                      </tr>
                    </tbody>
                    <div class="has-text-centered d-flex justify-content-end">
                      <pagination-controls
                        (pageChange)="navigateClosedPage($event)"
                        previousLabel="Prev"
                        nextLabel="Next"
                        responsive="true"
                        id="closed"
                        class="my-pagination"
                      ></pagination-controls>
                    </div>
                  </div>
                </div>
              </table>
            </div>
          </div>
          <!-- message -->
          <div
            class="inner-box tab-pane fade"
            id="v-pills-messages"
            role="tabpanel"
            aria-labelledby="v-pills-messages-tab"
          >
            <div class="dashboard-wrapper">
              <nav class="nav-table">
                <ul class="nav nav-pills">
                  <li class="nav-item">
                    <a class="nav-link active" href="#sent" data-toggle="pill"
                      >Sent ({{ sentMessages?.length }})</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#recieved" data-toggle="pill"
                      >Recieved ({{ recievedMessages?.length }})</a
                    >
                  </li>
                </ul>
              </nav>
              <div class="tab-content">
                <div
                  class="tab-pane fade show active"
                  id="sent"
                  role="tabpanel"
                >
                  <form class="row offers-messages">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                      <div class="offers-box">
                        <div class="">
                          <h5>User</h5>
                        </div>
                        <ul
                          class="offers-user-online"
                          (click)="setI(i)"
                          *ngFor="let message of sentMessages; index as i"
                        >
                          <li class="offerer">
                            <div class="user-name">
                              <h3>
                                {{ message?.from?.lastName }}
                                {{ message?.from?.firstName }}
                              </h3>
                              <!-- <h4><a href="#">Offline</a></h4> -->
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
                      <div class="chat-message-box">
                        <div class="dashboardboxtitle">
                          <h2>Chat Messages</h2>
                        </div>
                        <div class="offerermessage">
                          <figure>
                            <img
                              src=" {{
                                sentMessages[messageIndex]?.from?.avatarUrl
                              }}"
                              alt=""
                            />
                          </figure>
                          <div class="description">
                            <div class="info">
                              <h3>
                                {{ sentMessages[messageIndex]?.from?.lastName }}
                                {{
                                  sentMessages[messageIndex]?.from?.firstName
                                }}
                              </h3>
                              <p>
                                {{ sentMessages[messageIndex]?.message }}
                              </p>
                            </div>
                            <time class="date">{{
                              sentMessages[messageIndex]?.from?.dateCreated
                                | date: "medium"
                            }}</time>
                          </div>
                        </div>
                        <div class="memessage readmessage">
                          <figure>
                            <img
                              src="{{
                                sentMessages[messageIndex]?.from?.avatarUrl
                              }}"
                              alt=""
                            />
                          </figure>
                          <div class="description">
                            <div class="info">
                              <h3>You</h3>
                              <p>
                                Lorem Ipsum is simply dummy text of the printing
                                and typesetting industry
                              </p>
                            </div>
                            <div class="text-right">
                              <p>It that ok?</p>
                              <time class="date">Jun 28, 2017 09:30</time>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="replay-box">
                        <textarea
                          class="form-control"
                          name="reply"
                          placeholder="Type Here & Press Enter"
                        ></textarea>
                      </div>
                      <div class="icon-box mt-2">
                        <button class="btn btn-primary" (click)="sendSent()">
                          Send
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="tab-pane fade" id="recieved" role="tabpanel">
                  <form class="row offers-messages">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                      <div class="offers-box">
                        <div class="">
                          <h5>User</h5>
                        </div>
                        <ul
                          class="offers-user-online"
                          (click)="setI(i)"
                          *ngFor="let message of recievedMessages; index as i"
                        >
                          <li class="offerer">
                            <div class="user-name">
                              <h3>
                                {{ message?.from?.lastName }}
                                {{ message?.from?.firstName }}
                              </h3>
                              <!-- <h4><a href="#">Offline</a></h4> -->
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
                      <div class="chat-message-box">
                        <div class="dashboardboxtitle">
                          <h2>Chat Messages</h2>
                        </div>
                        <div class="offerermessage">
                          <figure>
                            <img
                              src="{{
                                recievedMessages[messageIndex]?.from?.avatarUrl
                              }}"
                              alt=""
                            />
                          </figure>
                          <div class="description">
                            <div class="info">
                              <h3>
                                {{
                                  recievedMessages[messageIndex]?.from?.lastName
                                }}
                                {{
                                  recievedMessages[messageIndex]?.from
                                    ?.firstName
                                }}
                              </h3>
                              <p>
                                {{ recievedMessages[messageIndex]?.message }}
                              </p>
                            </div>
                            <time class="date">{{
                              recievedMessages[messageIndex]?.from?.dateCreated
                                | date: "medium"
                            }}</time>
                          </div>
                        </div>
                        <div class="memessage readmessage">
                          <figure>
                            <img
                              src="{{
                                recievedMessages[messageIndex]?.to?.avatarUrl
                              }}"
                              alt=""
                            />
                          </figure>
                          <div class="description">
                            <div class="info">
                              <h3>You</h3>
                              <p>
                                Lorem Ipsum is simply dummy text of the printing
                                and typesetting industry
                              </p>
                            </div>
                            <div class="text-right">
                              <p>It that ok?</p>
                              <time class="date">Jun 28, 2017 09:30</time>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="replay-box">
                        <textarea
                          class="form-control"
                          name="reply"
                          placeholder="Type Here & Press Enter"
                        ></textarea>
                        <div class="icon-box mt-2">
                          <button
                            class="btn btn-primary"
                            (click)="sendRecieved()"
                          >
                            Send
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div
            class="inner-box tab-pane fade"
            id="v-pills-profile"
            role="tabpanel"
            aria-labelledby="v-pills-profile-tab"
          >
            <div class="dashboard-box">
              <h2 class="dashbord-title">Contact Detail</h2>
            </div>
            <div class="dashboard-wrapper" [formGroup]="profileForm">
              <div class="form-group mb-3">
                <label class="control-label">First Name*</label>
                <input
                  class="form-control input-md"
                  name="name"
                  type="text"
                  formControlName="firstName"
                />
              </div>
              <div class="form-group mb-3">
                <label class="control-label">Last Name*</label>
                <input
                  class="form-control input-md"
                  name="name"
                  type="text"
                  formControlName="lastName"
                />
              </div>
              <div class="form-group mb-3">
                <label class="control-label">Phone*</label>
                <input
                  class="form-control input-md"
                  name="phoneNumber"
                  type="text"
                  formControlName="phoneNumber"
                />
              </div>
              <div class="form-group mb-3">
                <label class="control-label">Address</label>
                <input
                  class="form-control input-md"
                  formControlName="address"
                  name="address"
                  type="text"
                />
              </div>
              <div class="form-group mb-3">
                <label class="control-label">Email</label>
                <input
                  class="form-control input-md"
                  name="email"
                  formControlName="email"
                  type="email"
                  autocomplete="email"
                />
              </div>
              <div class="d-flex justify-content-end">
                <button
                  id="update"
                  class="btn btn-common"
                  style="background-color: #2196f3; color: white"
                  type="button"
                  (click)="toggleDisabled()"
                >
                  Edit
                </button>
                <div class="ml-3" *ngIf="IsHidden">
                  <button
                    class="btn btn-common"
                    style="background-color: #2196f3; color: white"
                    type="button"
                    (click)="updateProfile()"
                  >
                    update
                  </button>
                </div>
              </div>
            </div>
            <div class="">
              <button
                class="btn btn-common"
                style="background-color: #2196f3; color: white"
                type="button"
                (click)="togglePasswordUpdate()"
              >
                Change password
              </button>
            </div>
            <div
              class="dashboard-wrapper"
              [formGroup]="updatePasswordForm"
              *ngIf="show"
            >
              <div class="form-group mb-3">
                <label class="control-label">Enter old password*</label>
                <input
                  class="form-control input-md"
                  type="password"
                  name="password"
                  formControlName="oldPassword"
                />
              </div>
              <div class="form-group mb-3">
                <label class="control-label">Enter new password*</label>
                <input
                  class="form-control input-md"
                  name="password"
                  type="password"
                  autocomplete="new-password"
                  formControlName="newPassword"
                />
              </div>
              <div class="d-flex justify-content-end">
                <button
                  (click)="updatePassword()"
                  class="btn btn-common"
                  style="background-color: #2196f3; color: white"
                  type="button"
                >
                  Change
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- favorites -->

<app-footer></app-footer>
