<app-nav></app-nav>
<div id="content" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-3 page-sidebar">
        <aside>
          <div class="sidebar-box">
            <div class="user">
              <figure>
                <a *ngIf="avatarUrl"><img src="{{ avatarUrl }}" alt="" /></a>
                <a *ngIf="!avatarUrl"
                  ><img src="{{ myProfile?.avatarUrl }}" width="45px" alt=""
                /></a>
              </figure>
              <div class="usercontent">
                <h3>User</h3>
                <h4>Administrator</h4>
              </div>
              <div class="d-flex justify-content-end">
                <label
                  class="btn btn-common"
                  style="background-color: white; color: #2196f3"
                  type="button"
                  for="file"
                >
                  upload avatar
                </label>
                <input
                  type="file"
                  name="file"
                  id="file"
                  (change)="uploadAvatar($event.target.files[0])"
                />
              </div>
            </div>
            <nav class="navdashboard">
              <ul class="nav">
                <li>
                  <a
                    class="active"
                    href="#v-pills-dashboard"
                    data-toggle="pill"
                  >
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                  </a>
                </li>
                <li>
                  <a href="#v-pills-profile" data-toggle="pill">
                    <i class="fa fa-cog"></i>
                    <span>Profile Settings</span>
                  </a>
                </li>
                <li>
                  <a href="#v-pills-my-ads" data-toggle="pill">
                    <i class="fa fa-stack-overflow"></i>
                    <span>My Ads</span>
                  </a>
                </li>
                <!-- <li>
                  <a href="#v-pills-messages" data-toggle="pill">
                    <i class="fa fa-envelope"></i>
                    <span>Messages</span>
                  </a>
                </li> -->

                <li>
                  <a href="#v-pills-favorites" data-toggle="pill">
                    <i class="fa fa-heart"></i>
                    <span>My Favourites</span>
                  </a>
                </li>
                <li>
                  <a (click)="logout()" class="click">
                    <i class="fa fa-sign-out"></i>
                    <span>Logout</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="widget">
            <h4 class="widget-title">Advertisement</h4>
            <div class="add-box">
              <!-- Advert goes here -->
            </div>
          </div>
        </aside>
      </div>
      <div class="col-sm-12 col-md-8 col-lg-9">
        <div class="page-content tab-content">
          <div
            class="inner-box tab-pane fade show active"
            id="v-pills-dashboard"
            role="tabpanel"
            aria-labelledby="v-pills-dashboard-tab"
          >
            <div class="dashboard-box">
              <h2 class="dashbord-title">Dashboard</h2>
            </div>
            <div class="dashboard-wrapper">
              <div class="dashboard-sections">
                <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                    <div class="dashboardbox">
                      <div class="icon">
                        <i class="fa fa-file-archive-o"></i>
                      </div>
                      <div class="contentbox">
                        <h2>Total Ad Posted</h2>
                        <h3>{{ myAds.length }} Add Posted</h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                    <div class="dashboardbox">
                      <div class="icon"><i class="fa fa-file-o"></i></div>
                      <div class="contentbox">
                        <h2>Saved Ads</h2>
                        <h3>{{ favoritAds.length }} Ads Saved</h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                    <div class="dashboardbox">
                      <div class="icon"><i class="fa fa-commenting-o"></i></div>
                      <div class="contentbox">
                        <h2>Messages</h2>
                        <h3>{{ recievedMessages.length }} Messages</h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="mt-2">
                    <p class=""><b>My referrer link</b></p>
                  </div>
                  <div class="input-group mb-3">
                    <input
                      id="referral"
                      class="form-control"
                      type="text"
                      size="20"
                      value="http://localhost:5000/register;referrer={{
                        myProfile.referralCode
                      }}"
                    />
                    <div
                      class="input-group-append click"
                      (click)="copyToClipboard()"
                    >
                      <span class="input-group-text"
                        ><i class="fa fa-clone"></i
                      ></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="inner-box tab-pane fade"
            id="v-pills-favorites"
            role="tabpanel"
            aria-labelledby="v-pills-favorites-tab"
          >
            <div class="dashboard-box">
              <h2 class="dashbord-title">My Favourites</h2>
            </div>
            <div class="dashboard-wrapper">
              <p>
                You do not have any saved ads yet. Try liking an ad to save it
                here
              </p>
              <table
                class="table table-responsive dashboardtable tablemyads"
                *ngIf="favoritAds.length != 0"
              >
                <thead>
                  <tr>
                    <th>Photo</th>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Ad Status</th>
                    <th>Price</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    data-category="deleted"
                    *ngFor="
                      let favorite of favoritAds
                        | paginate
                          : {
                              id: 'favorites',
                              itemsPerPage: favoritAdsPaginationInfo.size,
                              currentPage: favoritAdsPaginationInfo.number,
                              totalItems: favoritAdsPaginationInfo.totalElements
                            }
                    "
                  >
                    <td class="photo">
                      <img
                        class="img-fluid"
                        src="assets/img/product/img10.jpg"
                        alt=""
                      />
                    </td>
                    <td data-title="Title">
                      <h3>{{ favorite?.title }}y</h3>
                    </td>
                    <td data-title="Category">
                      {{ favorite?.subCategory?.category?.name }}
                    </td>
                    <td data-title="Ad Status">
                      <span class="adstatus adstatusactive">{{
                        favorite?.status
                      }}</span>
                    </td>
                    <td data-title="Price">
                      <h3>{{ favorite?.price | currency: "₦" }}</h3>
                    </td>
                    <td data-title="Action">
                      <div class="btns-actions">
                        <a
                          class="btn-action btn-view"
                          [routerLink]="[
                            '/ad/view',
                            favorite?.slug,
                            favorite?.user?.slug
                          ]"
                          ><i class="fa fa-eye"></i
                        ></a>
                        <a
                          class="btn-action btn-edit"
                          [routerLink]="['/ad/edit', favorite?.slug]"
                          ><i class="fa fa-pencil"></i
                        ></a>
                        <a
                          class="btn-action btn-delete"
                          (click)="deleteAd(favorite?.slug)"
                          ><i class="fa fa-trash"></i
                        ></a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div
                class="d-flex justify-content-end"
                *ngIf="favoritAds.length != 0"
              >
                <pagination-controls
                  (pageChange)="navigateMyAdPage($event)"
                  id="favorites"
                  class="my-pagination"
                ></pagination-controls>
              </div>
            </div>
          </div>
          <!-- myAds -->
          <div
            class="inner-box tab-pane fade"
            id="v-pills-my-ads"
            role="tabpanel"
            aria-labelledby="v-pills-my-ads-tab"
          >
            <div class="dashboard-box">
              <h2 class="dashbord-title">My Ads</h2>
            </div>
            <div class="dashboard-wrapper">
              <nav class="nav-table">
                <ul>
                  <li class="active">
                    <a href="#">All Ads ({{ myAds?.length }})</a>
                  </li>
                </ul>
              </nav>
              <p>
                You do not have any ads yet. Try posting an ad to view it here
              </p>
              <table
                class="table table-responsive dashboardtable tablemyads"
                *ngIf="myAds.length != 0"
              >
                <thead>
                  <tr>
                    <th>Photo</th>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Ad Status</th>
                    <th>Price</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    data-category="sold"
                    *ngFor="
                      let myAd of myAds
                        | paginate
                          : {
                              id: 'myAds',
                              itemsPerPage: myAdsPaginationInfo.size,
                              currentPage: myAdsPaginationInfo.number,
                              totalItems: myAdsPaginationInfo.totalElements
                            }
                    "
                  >
                    <td class="photo">
                      <img
                        class="img-fluid"
                        src="{{ (myAd?.adImages)[0].imageUrl }}"
                        alt=""
                      />
                    </td>
                    <td data-title="Title">
                      <h3 class="ellipses">
                        {{ myAd?.title }}
                      </h3>
                    </td>
                    <td data-title="Category">
                      {{ myAd?.subCategory?.category?.name }}
                    </td>
                    <td
                      data-title="Ad Status"
                      *ngIf="myAd?.status === 'PENDING'"
                    >
                      <span class="adstatus adstatusexpired">pending</span>
                    </td>
                    <td
                      data-title="Ad Status"
                      *ngIf="myAd?.status === 'APPROVED'"
                    >
                      <span class="adstatus adstatusactive">active</span>
                    </td>
                    <td
                      data-title="Ad Status"
                      *ngIf="myAd?.status === 'DECLINED'"
                    >
                      <span class="adstatus adstatusinactive">Declined</span>
                    </td>
                    <td data-title="Price">
                      <h3>{{ myAd?.dailyPrice | currency: "₦" }}</h3>
                    </td>
                    <td data-title="Action">
                      <div class="btns-actions">
                        <a
                          class="btn-action btn-view click"
                          [routerLink]="[
                            '/ad/view',
                            myAd?.slug,
                            myAd?.user?.slug
                          ]"
                          ><i class="fa fa-eye"></i
                        ></a>
                        <a
                          class="btn-action btn-edit click"
                          [routerLink]="['/ad/edit', myAd?.slug]"
                          ><i class="fa fa-pencil"></i
                        ></a>
                        <a
                          class="btn-action btn-delete click"
                          (click)="deleteAd(myAd?.slug)"
                          ><i class="fa fa-trash"></i
                        ></a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div
                class="has-text-centered d-flex justify-content-end"
                *ngIf="myAds.length != 0"
              >
                <pagination-controls
                  (pageChange)="navigateMyAdPage($event)"
                  previousLabel="Prev"
                  nextLabel="Next"
                  responsive="true"
                  id="myAds"
                  class="my-pagination"
                ></pagination-controls>
              </div>
            </div>
          </div>
          <!-- message -->
          <div
            class="inner-box tab-pane fade"
            id="v-pills-messages"
            role="tabpanel"
            aria-labelledby="v-pills-messages-tab"
          >
            <div class="dashboard-wrapper">
              <nav class="nav-table">
                <ul class="nav nav-pills">
                  <li class="nav-item">
                    <a class="nav-link active" href="#sent" data-toggle="pill"
                      >Sent (88)</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#recieved" data-toggle="pill"
                      >Recieved (12)</a
                    >
                  </li>
                </ul>
              </nav>
              <div class="tab-pane fade show active" id="sent" role="tabpanel">
                <form class="row offers-messages">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                    <div class="offers-box">
                      <div class="dashboardboxtitle">
                        <h2>User</h2>
                      </div>
                      <ul class="offers-user-online">
                        <li class="offerer">
                          <figure>
                            <img src="assets/img/author/img1.jpg" alt="" />
                          </figure>
                          <div class="user-name">
                            <h3>Sarah Higgle</h3>
                            <h4><a href="#">Offline</a></h4>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
                    <div class="chat-message-box">
                      <div class="dashboardboxtitle">
                        <h2>Chat Messages</h2>
                      </div>
                      <div class="offerermessage">
                        <figure>
                          <img src="assets/img/author/img1.jpg" alt="" />
                        </figure>
                        <div class="description">
                          <div class="info">
                            <h3>Meagan Miller</h3>
                            <p>
                              Lorem Ipsum is simply dummy text of the printing
                              and typesetting industry
                            </p>
                          </div>
                          <time class="date">June 21, 2018</time>
                        </div>
                      </div>
                      <div class="memessage readmessage">
                        <figure>
                          <img src="assets/img/author/img1.jpg" alt="" />
                        </figure>
                        <div class="description">
                          <div class="info">
                            <h3>You</h3>
                            <p>
                              Lorem Ipsum is simply dummy text of the printing
                              and typesetting industry
                            </p>
                          </div>
                          <div class="text-right">
                            <p>It that ok?</p>
                            <time class="date">Jun 28, 2017 09:30</time>
                          </div>
                        </div>
                      </div>
                      <div class="offerermessage">
                        <figure>
                          <img src="assets/img/author/img1.jpg" alt="" />
                        </figure>
                        <div class="description">
                          <div class="info">
                            <h3>Meagan Miller</h3>
                            <p>
                              Lorem Ipsum is simply dummy text of the printing
                              and typesetting industry
                            </p>
                          </div>
                          <time class="date">June 21, 2018</time>
                        </div>
                      </div>
                      <div class="memessage readmessage">
                        <figure>
                          <img src="assets/img/author/img1.jpg" alt="" />
                        </figure>
                        <div class="description">
                          <div class="info">
                            <h3>You</h3>
                            <p>
                              Lorem Ipsum is simply dummy text of the printing
                              and typesetting industry
                            </p>
                          </div>
                          <div class="text-right">
                            <p>It that ok?</p>
                            <time class="date">Jun 28, 2017 09:30</time>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="replay-box">
                      <textarea
                        class="form-control"
                        name="reply"
                        placeholder="Type Here & Press Enter"
                      ></textarea>
                      <div class="icon-box">
                        <i class="fa fa-thumbs-up"></i>
                        <i class="fa fa-thumbs-down"></i>
                        <i class="fa fa-emoji-smile"></i>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="tab-pane fade" id="recieved" role="tabpanel">
                <form class="row offers-messages">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
                    <div class="offers-box">
                      <div class="dashboardboxtitle">
                        <h2>User</h2>
                      </div>
                      <ul class="offers-user-online">
                        <li class="offerer">
                          <figure>
                            <img src="assets/img/author/img1.jpg" alt="" />
                          </figure>
                          <div class="user-name">
                            <h3>Sarah Higgle</h3>
                            <h4><a href="#">Offline</a></h4>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
                    <div class="chat-message-box">
                      <div class="dashboardboxtitle">
                        <h2>Chat Messages</h2>
                      </div>
                      <div
                        class="offerermessage"
                        *ngFor="let message of recievedMessages"
                      >
                        <figure>
                          <img src="assets/img/author/img1.jpg" alt="" />
                        </figure>
                        <div class="description">
                          <div class="info">
                            <h3>Meagan Miller</h3>
                            <p>
                              Lorem Ipsum is simply dummy text of the printing
                              and typesetting industry
                            </p>
                          </div>
                          <time class="date">June 21, 2018</time>
                        </div>
                      </div>
                      <div class="memessage readmessage">
                        <figure>
                          <img src="assets/img/author/img1.jpg" alt="" />
                        </figure>
                        <div class="description">
                          <div class="info">
                            <h3>You</h3>
                            <p>
                              Lorem Ipsum is simply dummy text of the printing
                              and typesetting industry
                            </p>
                          </div>
                          <div class="text-right">
                            <p>It that ok?</p>
                            <time class="date">Jun 28, 2017 09:30</time>
                          </div>
                        </div>
                      </div>
                      <div class="offerermessage">
                        <figure>
                          <img src="assets/img/author/img1.jpg" alt="" />
                        </figure>
                        <div class="description">
                          <div class="info">
                            <h3>Meagan Miller</h3>
                            <p>
                              Lorem Ipsum is simply dummy text of the printing
                              and typesetting industry
                            </p>
                          </div>
                          <time class="date">June 21, 2018</time>
                        </div>
                      </div>
                      <div class="memessage readmessage">
                        <figure>
                          <img src="assets/img/author/img1.jpg" alt="" />
                        </figure>
                        <div class="description">
                          <div class="info">
                            <h3>You</h3>
                            <p>
                              Lorem Ipsum is simply dummy text of the printing
                              and typesetting industry
                            </p>
                          </div>
                          <div class="text-right">
                            <p>It that ok?</p>
                            <time class="date">Jun 28, 2017 09:30</time>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="replay-box">
                      <textarea
                        class="form-control"
                        name="reply"
                        placeholder="Type Here & Press Enter"
                      ></textarea>
                      <div class="icon-box">
                        <i class="fa fa-thumbs-up"></i>
                        <i class="fa fa-thumbs-down"></i>
                        <i class="fa fa-emoji-smile"></i>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div
            class="inner-box tab-pane fade"
            id="v-pills-profile"
            role="tabpanel"
            aria-labelledby="v-pills-profile-tab"
          >
            <div class="dashboard-box">
              <h2 class="dashbord-title">Contact Detail</h2>
            </div>
            <div class="dashboard-wrapper" [formGroup]="profileForm">
              <div class="form-group mb-3">
                <label class="control-label">First Name*</label>
                <input
                  class="form-control input-md"
                  name="name"
                  type="text"
                  formControlName="firstName"
                />
              </div>
              <div class="form-group mb-3">
                <label class="control-label">Last Name*</label>
                <input
                  class="form-control input-md"
                  name="name"
                  type="text"
                  formControlName="lastName"
                />
              </div>
              <div class="form-group mb-3">
                <label class="control-label">Phone*</label>
                <input
                  class="form-control input-md"
                  name="phoneNumber"
                  type="text"
                  formControlName="phoneNumber"
                />
              </div>
              <div class="form-group mb-3">
                <label class="control-label">Address</label>
                <input
                  class="form-control input-md"
                  formControlName="address"
                  name="address"
                  type="text"
                />
              </div>
              <div class="form-group mb-3">
                <label class="control-label">Email</label>
                <input
                  class="form-control input-md"
                  name="email"
                  formControlName="email"
                  type="email"
                  autocomplete="email"
                />
              </div>
              <div class="d-flex justify-content-end">
                <button
                  id="update"
                  class="btn btn-common"
                  style="background-color: #2196f3; color: white"
                  type="button"
                  (click)="toggleDisabled()"
                >
                  Edit
                </button>
                <div class="ml-3" *ngIf="IsHidden">
                  <button
                    class="btn btn-common"
                    style="background-color: #2196f3; color: white"
                    type="button"
                    (click)="updateProfile()"
                  >
                    update
                  </button>
                </div>
              </div>
            </div>
            <div class="">
              <button
                class="btn btn-common"
                style="background-color: #2196f3; color: white"
                type="button"
                (click)="togglePasswordUpdate()"
              >
                Change password
              </button>
            </div>
            <div
              class="dashboard-wrapper"
              [formGroup]="updatePasswordForm"
              *ngIf="show"
            >
              <div class="form-group mb-3">
                <label class="control-label">Enter old password*</label>
                <input
                  class="form-control input-md"
                  type="password"
                  name="password"
                  formControlName="oldPassword"
                />
              </div>
              <div class="form-group mb-3">
                <label class="control-label">Enter new password*</label>
                <input
                  class="form-control input-md"
                  name="password"
                  type="password"
                  autocomplete="new-password"
                  formControlName="newPassword"
                />
              </div>
              <div class="d-flex justify-content-end">
                <button
                  (click)="updatePassword()"
                  class="btn btn-common"
                  style="background-color: #2196f3; color: white"
                  type="button"
                >
                  Change
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- favorites -->

<app-footer></app-footer>
