<app-nav></app-nav>
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2 class="mb-5 text-center">
        BPrents an Online Rental Marketplace is a product of Solid Entertainment
        Sound Empire limited (SESOE LTD) RC 1611454.
      </h2>
      <p>
        Bprents.ng as the online arm of Bprents provides our subscribers with a
        user-friendly, fast, secure, free and accommodating online market to
        enjoy a great rental experience stress free both as a vendor and a
        direct customer.<br /><br />

        Bprents.ng with the vision to be Africa’s most reliable and largest
        online rental market place that allows vendor merchants across every
        category of the rental industry the opportunity to advertise their
        properties, assets, goods and services available for rent and get real
        customers in need of these things connect with them.<br /><br />

        Bprents.ng plays the lead in the transformation of the rental industry
        across Africa providing a highly reliable, secure, easy and beneficial
        online rental market place that stretches across all categories of the
        rental industry offers a totally free and open space for anyone to
        advertise whatever they wish to give out on rent/hire/lease at zero
        cost, all you need do is register and get verified and begin to
        advertise.<br /><br />

        Bprents offers its potential vendor merchants who can be anyone owning
        an asset, property, skill/service for rent/hire/lease the opportunity to
        advertise to a wide range of unlimited customer base online at no cost
        (totally free) and get customers reach out for your
        asset/property/service.<br /><br />

        Bprents as Nigeria’s no 1 fastest growing online rental market place,
        stretches across all categories of the rental industry from Events &
        Entertainment, Automobiles, Aircrafts, Construction machinery, Oil and
        Gas Engineering machinery, Real Estates, House hold appliances, office
        essentials, costumes and wears, General maintenance services etc.<br /><br />
        <strong>
          <em>
            Bprents the one stop centre for rental in Nigeria, Rent it all..
          </em>
        </strong>
      </p>
    </div>
  </div>
</div>
<app-footer></app-footer>
