<app-nav></app-nav>
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2 class="mb-5 text-center">BPRENTS PRIVACY POLICY</h2>
      <div>
        This Privacy Policy explains what personal data is collected when you
        use the bprents.ng any bprents.ng mobile application, or website
        (“Bprents”, "Website", or "App") and the services provided through it
        (together with the Website and the App, the “Service”), how such
        personal data will be used, shared.<br /><br />

        <strong>
          BY USING THE SERVICE, YOU PROMISE US THAT (I) YOU HAVE READ,
          UNDERSTOOD AND AGREE TO THIS PRIVACY POLICY, AND (II) YOU ARE OVER 16
          YEARS OF AGE (OR HAVE HAD YOUR PARENTS OR GUARDIAN READ AND AGREE TO
          THIS PRIVACY POLICY FOR YOU). </strong
        ><br /><br />

        If you do not agree or are unable to make this promise, you must not use
        the Service. In such case, you must contact the support team via online
        chat or email to (a) request deletion of your account and data.
        “Process”, in respect of personal data, includes to collect, store, and
        disclose to others.<br /><br />

        <strong>TABLE OF CONTENTS:</strong>
        <ol>
          <li>
            <a href="#personal-data-controller">Personal Data Controller</a>
          </li>
          <li>
            <a href="#categories-personal-data">Categories of Personal Data</a>
          </li>
          <li>
            <a href="#data-protection-principles">Data Protection Principles</a>
          </li>
          <li>
            <a href="#processing-personal-data">Processing Personal Data</a>
          </li>
          <li>
            <a href="#locus-standi"
              >Locus Standi for Processing Personal Data</a
            >
          </li>
          <li><a href="#personal-data-sharing">Personal Data Sharing</a></li>
          <li>
            <a href="#exercise-privacy-rights">Exercise of Privacy Rights</a>
          </li>
          <li><a href="#age-limitation">Age Limitation</a></li>
          <li>
            <a href="#amendment-modification"
              >Amendment and Modification of Privacy Policy</a
            >
          </li>
          <li><a href="#data-retention">Data Retention</a></li>
          <li><a href="#contact-us">Contact us</a></li>
        </ol>
      </div>

      <section id="personal-data-controller" class="mt-4">
        <h3>1. Personal Data Controller</h3>
        <p>
          bprents.ng Online Rental Marketplace Nigeria, a product of
          <strong>SOLID ENTERTAINMENT SOUND EMPIRE LIMITED</strong>, a body
          corporate duly incorporated under the Companies and Allied Matters
          Act, CAP C20 LFN 2004 with <strong>RC 1611454</strong> and its
          registered office address at NO. 6A, ROAD 2 OKANIA NEW LAYOUT,
          RUMUOKWUTA, PORT HARCOURT will be the controller of your personal data
        </p>
      </section>

      <section id="categories-personal-data" class="mt-4">
        <h3>2. Categories of Personal Data</h3>
        <p>
          2.1 We collect data you give us voluntarily (for example, an email
          address). We also collect data automatically (for example, your IP
          address).<br /><br />
          2.2 Data you give us. You may be asked to provide us information about
          yourself when you register for and/or use the Service. This
          information includes: first name, phone number, email (together
          “Required Information”), last name, photo, address details, working
          hours. To use our Service and register an account, you will need to
          provide Required Information. You will be able to use the Service even
          if you do not give this data to us, but some Service’s functionality
          may be limited to you (for example, if you do not register an account,
          you will not be able to chat with other users, post ads, see contact
          details of other users). Sometimes you may also need to provide to us
          additional information in the communication with our Support Team in
          order to fulfil your request (for example, if your account was
          previously blocked, we may ask you to confirm your identity by
          providing an ID document). By providing information about yourself
          within the registration process, you agree and understand that this
          data will be publicly available (including, for example, phone
          number). Please do not provide personal data to your profile that you
          would not want to be publicly available. Users are responsible for all
          the information posted by them in public accounts. You should
          carefully consider all the risks associated with the fact that you
          make certain information – in particular, phone number, the address,
          or information about the place of your exact location – publicly
          available.<br /><br />
          2.3 Announcements and Transactions As part of the activities of the
          website, we may post information, including personal and contact
          information, necessary for transactions between the buyer and seller,
          for sending messages and communication between users among themselves
          and making payments. You acknowledge that information contained in
          your profile and provided when submitting ads will be made publicly
          available to other users of the Service Please do not provide personal
          data to your profile or in the ads that you would not want to be
          publicly available. You should carefully consider all the risks
          associated with the fact that you make certain information – in
          particular, phone number, the address or information about the place
          of your exact location – publicly available.<br /><br />
          2.4 Data provided to us by third parties When you decide to log in
          using Facebook or Google, we get personal data from your Facebook or
          Google account. This includes your profile image, name, email,
          Facebook ID, Google ID, friends list. For more information, please
          refer to the Facebook Permissions Reference (describes the categories
          of information, which Facebook may share with third parties and the
          set of requirements) and to the Facebook Data Policy. In addition,
          Facebook and Google let you control the choices you made when
          connecting your Facebook profile to the Website. To know more about
          how Google processes your data, visit its privacy policy. The
          information obtained from third parties will be processed for the
          purposes described in and in accordance with this Privacy Policy.<br /><br />
          2.6 <strong>Data we collect automatically:</strong><br />
          1. Data about how you found us We collect data about your referring
          URL (that is, the place on the Web where you were when you tapped on
          our ad).<br />
          2. Device and Location Data. We collect data from your device.
          Examples of such data include language settings, IP address, time
          zone, type and model of a device, device settings, operating system,
          Internet service provider, mobile carrier, hardware ID, and Facebook
          ID.<br />
          3. Usage data We record how you interact with our Service. For
          example, we log the features, and content you interact with, how often
          you use the Service, how long you are on the Service, what sections
          you use, how many ads you watch.<br />
          4. Advertising IDs We collect your Apple Identifier for Advertising
          (“IDFA”) or Google Advertising ID (“AAID”) (depending on the operating
          system of your device). You can typically reset these numbers through
          the settings of your device’s operating system (but we do not control
          this). 5. Transaction data<br />
          When you make payments through the Service, you need to provide
          financial account data, such as your credit card number, to our third-
          party service providers. We do not collect or store full credit card
          number data, though we may receive credit card-related data, data
          about the transaction, including date, time and amount of the
          transaction, the type of payment method used.<br />
          6. Cookies A cookie is a small text file that is stored on a user's
          computer for record-keeping purposes. Cookies can be either session
          cookies or persistent cookies. A session cookie expires when you close
          your browser and is used to make it easier for you to navigate our
          Service. A persistent cookie remains on your hard drive for an
          extended period of time. We also use tracking pixels that set cookies
          to assist with delivering online advertising. Cookies are used, in
          particular, to automatically recognize you the next time you visit our
          Website. As a result, the information, which you have earlier entered
          in certain fields on the Website may automatically appear the next
          time when you use our Service. Cookie data will be stored on your
          device and most of the times only for a limited time period.
        </p>
      </section>

      <section id="data-protection-principles" class="mt-4">
        <h3>3. Data Protection Principles</h3>
        <div>
          In our data protection practices we strive in particular, to provide
          that personal data is:
          <ol>
            <li>
              processed in accordance with specific, legitimate and lawful
              purpose consented to by you;
            </li>
            <li>
              is adequate, accurate and without prejudice to the dignity of a
              human person;
            </li>
            <li>
              stored only for the period within which it is reasonably needed;
              and
            </li>
            <li>
              secured against reasonably foreseeable hazards and breaches such
              as theft, cyberattack, viral attack, dissemination, manipulations
              of any kind, damage by rain, fire or exposure to other natural
              elements.
            </li>
          </ol>
        </div>
      </section>

      <section id="processing-personal-data" class="mt-4">
        <h3>4. Processing Personal Data</h3>
        <div>
          We process your personal data:
          <ol>
            <li>
              To provide our Service<br />
              This includes enabling you to use the Service in a seamless manner
              and preventing or addressing Service errors or technical issues.
            </li>
            <li>
              To customize your experience<br />
              We process your personal data to adjust the content of the Service
              and make offers tailored to your personal preferences and
              interests.
            </li>
            <li>
              To manage your account and provide you with customer support We
              process your personal data to respond to your requests for
              technical support, Service information or to any other
              communication you initiate. This includes accessing your account
              to address technical support requests. For this purpose, we may
              send you, for instance, notifications or emails about the
              performance of our Service, security, payment transactions,
              notices regarding our Terms and Conditions of Use or this Privacy
              Policy.
            </li>
            <li>
              To communicate with you regarding your use of our Service We
              communicate with you, for example, by push notifications or in the
              chat. As a result, you may, for example, receive a notification
              whether on the Website or via email that you received a new
              message on bprents. To opt out of receiving push notifications,
              you need to change the settings on your browser or mobile device.
              To opt out of the certain type of emails, you need to follow an
              unsubscribe link located in the footer of the email by contacting
              our support team or in your profile setting.<br />
              The services that we use for these purposes may collect data
              concerning the date and time when the message was viewed by our
              users, as well as when they interacted with it, such as by
              clicking on links included in the message.
            </li>
            <li>
              To research and analyze your use of the Service This helps us to
              better understand our business, analyze our operations, maintain,
              improve, innovate, plan, design, and develop bprents and our new
              products. We also use such data for statistical analysis purposes,
              to test and improve our offers. This enables us to better
              understand what features and sections of bprents our users like
              more, what categories of users use our Service. As a consequence,
              we often decide how to improve bprents based on the results
              obtained from this processing. For example, if we discover that
              Jobs section is not as popular as others, we may focus on
              improving it.
            </li>
            <li>
              To send you marketing communications<br />
              We process your personal data for our marketing campaigns. We may
              add your email address to our marketing list. As a result, you
              will receive information about our products, such as for example,
              special offers, and products of our partners. If you do not want
              to receive marketing emails from us, you can unsubscribe following
              instructions in the footer of the marketing emails, by contacting
              our support team or in your profile setting. We may also show you
              advertisements on the Website, and send you push notifications for
              marketing purposes. To opt out of receiving push notifications,
              you need to change the settings on your device or/and browser.
            </li>
            <li>
              To personalize our ads<br />
              We and our partners use your personal data to tailor ads and
              possibly even show them to you at the relevant time. For example,
              if you have visited our Website, you might see ads of our
              products, for example, in your Facebook’s feed. We may target
              advertising to you through a variety of ad networks and exchanges,
              using data from advertising technologies on and off of our
              Services like unique cookie, or similar tracking technology,
              pixel, device identifiers, geolocation, operation system
              information, email.
            </li>
          </ol>

          <strong>How to opt out or influence personalized advertising</strong>
          <br />
          iOS:<br />
          On your iPhone or iPad, go to “Settings,” then “Privacy” and tap
          “Advertising” to select “Limit Ad Track”. In addition, you can reset
          your advertising identifier (this also may help you to see less of
          personalized ads) in the same section.<br /><br />

          Android:<br />
          To opt-out of ads on an Android device, simply open the Google
          Settings app on your mobile phone, tap “Ads” and enable “Opt out of
          interest-based ads”. In addition, you can reset your advertising
          identifier in the same section (this also may help you to see less of
          personalized ads). To learn even more about how to affect advertising
          choices on various devices, please look at the information available
          here. In addition, you may get useful information and opt out of some
          interest-based advertising, by visiting the following links:
          <ol>
            <li>
              Network Advertising Initiative –
              <a href="https://optout.networkadvertising.org/" target="_blank"
                >https://optout.networkadvertising.org/</a
              >
            </li>
            <li>
              Digital Advertising Alliance –
              <a href="https://optout.aboutads.info/" target="_blank"
                >https://optout.aboutads.info/</a
              >
            </li>
            <li>
              Digital Advertising Alliance (Canada) –
              <a href="https://youradchoices.ca/choices" target="_blank"
                >https://youradchoices.ca/choices</a
              >
            </li>
            <li>
              Digital Advertising Alliance (EU) –
              <a href="https://www.youronlinechoices.com/" target="_blank"
                >https://www.youronlinechoices.com/</a
              >
            </li>
            <li>
              DAA AppChoices page –
              <a href="https://www.aboutads.info/appchoices" target="_blank"
                >https://www.aboutads.info/appchoices</a
              ><br />
              Browsers:<br />
              It is also may be possible to stop your browser from accepting
              cookies altogether by changing your browser’s cookie settings. You
              can usually find these settings in the “options” or “preferences”
              menu of your browser. The following links may be helpful, or you
              can use the “Help” option in your browser.
            </li>
            <li>Cookie settings in Internet Explorer</li>
            <li>Cookie settings in Firefox</li>
            <li>Cookie settings in Chrome</li>
            <li>
              Cookie settings in Safari web and iOS<br />
              <strong>Google</strong> allows its users to opt out of Google’s
              personalized ads and to prevent their data from being used by
              Google Analytics.<br />
              <strong>Facebook</strong> also allows its users to influence the
              types of ads they see on Facebook. To find how to control the ads
              you see on Facebook, please go here or adjust your ads settings on
              Facebook
            </li>
            <li>
              To enforce our Terms and Conditions of Use and to prevent and
              combat fraud<br />
              We use personal data to enforce our agreements and contractual
              commitments, to detect, prevent, and combat fraud. As a result of
              such processing, we may share your information with others,
              including law enforcement agencies (in particular, if a dispute
              arises in connection with our Terms and Conditions of Use).
            </li>
            <li>
              To comply with legal obligations<br />
              We may process, use, or share your data when the law requires it,
              in particular, if a law enforcement agency requests your data by
              available legal means.
            </li>
            <li>
              To process your payments<br />
              We provide paid products and/or services within the Service. For
              this purpose, we use third-party services for payment processing
              (for example, payment processors). As a result of this processing,
              you will be able to make a payment and use the paid features of
              the Service.
            </li>
          </ol>
        </div>
      </section>

      <section id="locus-standi" class="mt-4">
        <h3>5. Locus Standi for Processing Personal Data</h3>
        <div>
          We process your personal data, in particular, under the following
          legal bases:
          <ol>
            <li>your consent;</li>
            <li>to perform our contract with you;</li>
            <li>
              for our (or others') legitimate interests; Under this legal basis
              we, in particular:
              <ul>
                <li>
                  communicate with you regarding your use of our Service<br />
                  This includes, for example, sending you push notifications
                  reminding you that you have unread messages. The legitimate
                  interest we rely on for this purpose is our interest to
                  encourage you to use our Service more often. We also take into
                  account the potential benefits to you.
                </li>
                <li>
                  research and analyze your use of the Service<br />
                  Our legitimate interest for this purpose is our interest in
                  improving our Service so that we understand users’ preferences
                  and are able to provide you with a better experience (for
                  example, to make the use of our mobile application easier and
                  more enjoyable, or to introduce and test new features).
                </li>
                <li>
                  send you marketing communications<br />
                  The legitimate interest we rely on for this processing is our
                  interest to promote our Service in a measured and appropriate
                  way.
                </li>
                <li>
                  personalize our ads<br />
                  The legitimate interest we rely on for this processing is our
                  interest to promote our Service in a reasonably targeted way.
                </li>
                <li>
                  enforce our Terms and Conditions of Use and to prevent and
                  combat fraud<br />
                  Our legitimate interests for this purpose are enforcing our
                  legal rights, preventing and addressing fraud and unauthorized
                  use of the Service, non-compliance with our Terms and
                  Conditions of Use.
                </li>
                <li>to comply with legal obligations.</li>
              </ul>
            </li>
          </ol>
        </div>
      </section>

      <section id="personal-data-sharing" class="mt-4">
        <h3>6. Personal Data Sharing</h3>
        <div>
          We share information with third parties that help us operate, provide,
          improve, integrate, customize, support, and market our Service. We may
          share some sets of personal data, in particular, for purposes and with
          parties indicated in Section 2 of this Privacy Policy. The types of
          third parties we share information with include, in particular:
          <ol>
            <li>
              Service providers We share personal data with third parties that
              we hire to provide services or perform business functions on our
              behalf, based on our instructions. We may share your personal
              information with the following types of service providers:
              <ul>
                <li>cloud storage providers (Amazon, DigitalOcean, Hetzner)</li>
                <li>data analytics providers (Facebook, Google, Appsflyer)</li>
                <li>
                  marketing partners (in particular, social media networks,
                  marketing agencies, email delivery services; such as Facebook,
                  Google, Mailfire)
                </li>
              </ul>
            </li>
            <li>
              Law enforcement agencies and other public authorities We may use
              and disclose personal data to enforce our Terms and Conditions of
              Use, to protect our rights, privacy, safety, or property, and/or
              that of our affiliates, you or others, and to respond to requests
              from courts, law enforcement agencies, regulatory agencies, and
              other public and government authorities, or in other cases
              provided for by law.
            </li>
            <li>
              Third parties as part of a merger or acquisition<br />
              As we develop our business, we may buy or sell assets or business
              offerings. Customers’ information is generally one of the
              transferred business assets in these types of transactions. We may
              also share such information with any affiliated entity (e.g.
              parent company or subsidiary) and may transfer such information in
              the course of a corporate transaction, such as the sale of our
              business, a divestiture, merger, consolidation, or asset sale, or
              in the unlikely event of bankruptcy.
            </li>
          </ol>
        </div>
      </section>

      <section id="exercise-privacy-rights" class="mt-4">
        <h3>7. Exercise of Privacy Rights</h3>
        <p>
          To be in control of your personal data, you have the following
          rights:<br />
          <strong
            >Accessing / reviewing / updating / correcting your personal
            data.</strong
          >
          You may review, edit, or change the personal data that you had
          previously provided to Bprents in the settings section on the Website.
          You may also request a copy of your personal data collected during
          your use of the Service.<br /><br />
          <strong>Deleting your personal data.</strong> You can request the
          erasure of your personal data by sending us an email. When you request
          deletion of your personal data, we will use reasonable efforts to
          honour your request. In some cases we may be legally required to keep
          some of the data for a certain time; in such event, we will fulfil
          your request after we have complied with our obligations.<br /><br />
          <strong
            >Objecting to or restricting the use of your personal data
            (including for direct marketing purposes).</strong
          >
          You can ask us to stop using all or some of your personal data or
          limit our use thereof by sending a request.<br /><br />
          <strong
            >The right to lodge a complaint with the supervisory
            authority.</strong
          >
          We would love you to contact us directly, so we could address your
          concerns. Nevertheless, you have the right to lodge a complaint with a
          competent data protection supervisory authority.
        </p>
      </section>

      <section id="age-limitation" class="mt-4">
        <h3>8. Age Limitation</h3>
        <p>
          We do not knowingly process personal data from persons under 16 years
          of age. If you learn that anyone younger than 16 has provided us with
          personal data, please contact us.
        </p>
      </section>

      <section id="amendment-modification" class="mt-4">
        <h3>9. Amendment and Modification of Privacy Policy</h3>
        <p>
          We may amend or modify this Privacy Policy from time to time. If we
          decide to make material changes to this Privacy Policy, you will be
          notified through our Service or by other available means and will have
          an opportunity to review the revised Privacy Policy. By continuing to
          access or use the Service after those changes become effective, you
          agree to be bound by the revised Privacy Policy.
        </p>
      </section>

      <section id="data-retention" class="mt-4">
        <h3>10. Data Retention</h3>
        <p>
          We will store your personal data for as long as it is reasonably
          necessary for achieving the purposes set forth in this Privacy Policy
          (including providing the Service to you), which includes (but is not
          limited to) the period during which you have a Bprents account. We
          will also retain and use your personal data as necessary to comply
          with our legal obligations, resolve disputes, and enforce our
          agreements.
        </p>
      </section>

      <section id="contact-us" class="mt-4">
        <h3>11. Contact us</h3>
        <p>
          You may contact us at any time for details regarding this Privacy
          Policy and its previous versions. For any questions concerning your
          account or your personal data please contact us at bprents.ng.
        </p>
      </section>
      <section class="mt-5">
        <h1 class="text-center">EFFECTIVE AS OF SEPTEMBER 2020</h1>
        <hr />
        <h3 class="mt-5">BPRENTS POSTING TERMS & CONDITIONS</h3>
        <div>
          <strong>
            Following rules are required while you are posting adverts on
            Bprents:
          </strong>
          <br />
          <ol>
            <li>Every advert must have a precise title.</li>
            <li>
              Every advert should contain only unique images (taken by the
              seller and not downloaded from the Internet) without any contact
              information or watermarks.
            </li>
            <li>Every advert must contain images.</li>
            <li>Make sure you chose an appropriate category.</li>
            <li>
              The prices of your items must correspond to the real prices of
              similar products.
            </li>
            <li>
              All posted products and/or services must be located in Nigeria.
            </li>
            <li>All items and products must be legally permitted.</li>
            <li>
              Each item for sale must be posted separately. You cannot post
              several products within one and the same advert.
            </li>
            <li>Every advert must contain a brief and clear description.</li>
          </ol>
        </div>
        <br />
        <div>
          <strong>
            If you really want to create a great ad, it is highly recommended to
            follow the instructions below:
          </strong>
          <br />
          <ol>
            <li>
              Use a clear title which includes the name of the item you rent.
              Try to make your title appealing and eye-catching.
            </li>
            <li>
              Set an appropriate price for your item so that the advert is
              approved. If the price is not relevant, it may be declined. Make
              sure to carry out some investigation of the prices for a
              particular item.
            </li>
            <li>
              The description of your product must be informative enough and
              mustn’t contain any false information regarding your product or
              service.
            </li>
            <li>
              Upload only unique and high-quality photos of your items taken by
              yourself and not downloaded from the Internet. The better photos
              you add, the more attractive your ad looks to the potential
              clients and the more calls you receive.
            </li>
            <li>
              Indicate correct contact details for the potential clients to be
              able to reach you easily. Try to respond all the incoming calls or
              to call back your customers once available.
            </li>
            <li>
              Try to fill out all the fields of your profile page, as well as
              those of your advert, to let your customers dispose of all the
              necessary information about you as a vendor and the products you
              rent.
            </li>
            <li>
              The better rating you have on our website, the more chances you
              get to attract a lot of customers . Remember that it is important
              to build trust in your business. Your rating depends on the number
              of positive/negative feedback received from your previous
              customers.
            </li>
            <li>
              Make your advert as risk-free as possible. Underline that no
              prepayments are required and be ready to list those delivery
              services which presuppose payment on the delivery of the product
              ordered.
            </li>
          </ol>
        </div>
        <br />
        <div>
          <strong>
            There are several reasons why your ad can be placed declined by our
            moderators:
          </strong>
          <br />
          <ol>
            <li>
              You tried to post several items within one ad. It is not allowed
              to do that. Each item for rental must be posted separately, one ad
              - one product. Please follow this simple rule so that your ad is
              activated shortly.
            </li>
            <li>
              Pictures you've uploaded contain contact numbers. We do not allow
              posting this kind of photos. Please add pics which don't have any
              phone numbers for your ads to go active on bprents.
            </li>
            <li>
              There are certain restrictions concerning prices users might set.
              Please, input an appropriate price for your advert to be approved.
              If the price is not relevant, it may be declined. Make sure to
              carry out some investigation of a market value of an item you
              intend to rent.
            </li>
          </ol>
        </div>
        <br />
        <div>
          <strong>
            To post your ads on bprents fast, just take the following steps to
            proceed:
          </strong>
          <br />
          Notes: if you are not a registered user, the first step will be
          registration.
          <ol>
            <li>Click on the button "Rent";</li>
            <li>
              Complete all the information (add at least 3 photos for cars and
              phones);
            </li>
            <li>
              Choose a proper category, upload your photos and write a clear
              title with a full description of your item. After that, enter a
              fair price, select attributes and send your advert to review!<br />
              After filling out the required fields, click on "Post Ad" button;
              When you've done all of these steps, our moderators will check
              your advert.<br />
              Once your advert is live, you will receive a notification
              email.<br />
              If there's something wrong, we'll specify all the mistakes you
              should edit.
            </li>
          </ol>
        </div>
        <br />
        <div>
          <strong>
            In event of challenges with regards to posting ads, we recommend:
          </strong>
          <br />
          <ol>
            <li>
              Wait for a while before your ad passes the moderation. It's quite
              possible that our moderators are checking your advert and it will
              appear in search results within a few hours.
            </li>
            <li>
              Check your inbox. There you will get a notification when your
              advert goes live. Also, if there is something wrong with your
              advert, we'll specify all the mistakes you should edit.<br />
              Important! If you make some changes in your advert, it must pass
              the moderation one more time. Temporarily we won't show it in
              search results.<br />
              You can always manage your ads, just sign in to your Bprents
              account and click on My Adverts.<br />
            </li>
          </ol>
          <br />
          Users shall comply with all applicable laws, the Terms and Conditions
          of Use and all posted Platform rules and policies.<br />
          Here is a non-exhaustive list of goods and services promotion of which
          is prohibited on Bprents in Nigeria:
          <ol>
            <li>
              Narcotics, steroids, and any drugs or medications that require a
              prescription from a licensed medical specialist
            </li>
            <li>Weapons</li>
            <li>Restricted military/police items</li>
            <li>Human organs</li>
            <li>Illegal/pirated copies</li>
            <li>Stolen property</li>
            <li>Code grabbing and lock picking devices</li>
            <li>Electronic equipment prohibited by the law</li>
            <li>Sexually-oriented services</li>
            <li>Loans, money transactions, Bitcoin</li>
            <li>Multi-level marketing, pyramid, and matrix programs</li>
            <li>Network marketing and “Home Base Business” jobs</li>
            <li>
              Products (goods or services) prohibited to rent by the law, in
              particular:
              <ul>
                <li>
                  Medical devices, drugs, drug products, cosmetics, chemicals,
                  agrochemicals, pesticides, veterinary drugs or other goods if
                  they have not been registered with the National Agency for
                  Food & Drug Administration and Control (the “NAFDAC”) or other
                  relevant authority of Nigeria;
                </li>
                <li>
                  Any goods, sale, rental, distribution or advertising of which
                  is banned or restricted by the NAFDAC or any other relevant
                  authority of Nigeria;
                </li>
                <li>
                  Any goods, sale, rental, distribution or advertising of which
                  is prohibited by applicable legislation of Nigeria;
                </li>
                <li>
                  Any goods that do not comply with standards and quality
                  requirements imposed on such goods by applicable legislation
                  of Nigeria;
                </li>
                <li>
                  Any goods that are represented on the label or described as a
                  treatment, preventative or cure for diseases, disorders or
                  abnormal physical states specified by applicable legislation
                  of Nigeria.
                </li>
              </ul>
            </li>
          </ol>
          If you have noticed any announcements promoting Prohibited Items on
          Bprents, please report them via the
          <strong>“Report Abuse”</strong> link available in each posting
        </div>
        <br />
        <h4>DURATION OF POSTS</h4>
        <p>
          Your ads remain on the site for 1-3 months (since the date of the last
          update) before they are automatically deleted or until you decide to
          deactivate them. Please note that you can update your ad if you
          haven’t rented your item.
        </p>
      </section>
    </div>
  </div>
</div>
<app-footer></app-footer>
