<app-nav></app-nav>
<section class="section-content padding-y">
  <div class="container">
    <!-- ============================  FILTER TOP  ================================= -->
    <!-- <div class="card mb-3">
      <div class="card-body">
        <ol class="breadcrumb float-left">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Category name</a></li>
          <li class="breadcrumb-item active">Item details</li>
        </ol>
      </div> -->
    <!-- card-body .// -->
    <!-- </div> -->
    <!-- card.// -->
    <!-- ============================ FILTER TOP END.// ================================= -->

    <div class="row">
      <aside class="col-md-2">
        <!-- filter-group  .// -->
        <!-- <article class="filter-group">
          <h6 class="title">
            <a
              class="dropdown-toggle"
              data-toggle="collapse"
              data-target="#collapse_2"
            >
              Categories
            </a>
          </h6>
          <div class="filter-content collapse show" id="collapse_2">
            <div class="inner">
              <div
                class="click dropdown-item cat"
                *ngFor="let category of categories"
              >
                {{ category?.name }}
              </div>
            </div>
          </div>
        </article> -->
        <!-- filter-group .// -->
        <article class="filter-group">
          <h6 class="title">
            <a
              class="dropdown-toggle"
              data-toggle="collapse"
              data-target="#collapse_3"
            >
              Price range
            </a>
          </h6>
          <div class="filter-content collapse show" id="collapse_3">
            <div class="inner">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label>Min</label>
                  <input
                    class="form-control"
                    [(ngModel)]="min"
                    placeholder="₦0"
                    type="number"
                  />
                </div>
                <div class="form-group text-right col-md-6">
                  <label>Max</label>
                  <input
                    [(ngModel)]="max"
                    class="form-control"
                    placeholder="₦1,0000"
                    type="number"
                  />
                </div>
              </div>
              <!-- form-row.// -->
              <button
                class="btn btn-block btn-primary"
                (click)="filterAdByPriceRange()"
              >
                Apply
              </button>
            </div>
            <!-- inner.// -->
          </div>
        </article>
        <!-- filter-group .// -->

        <!-- filter-group .// -->
      </aside>
      <!-- col.// -->
      <main class="col-md-10">
        <header class="mb-3">
          <div class="form-inline">
            <strong class="mr-md-auto">{{ ads?.length }} Items found </strong>
            <select
              class="mr-2 form-control"
              (change)="getFilter($event.target.value)"
            >
              <option value="latest">Latest items</option>
              <option value="negotiable">Negotiable</option>
              <option value="boosted">Boosted</option>
              <option value="highest">Highest price</option>
              <option value="lowest">Lowest price</option>
            </select>
            <!-- <div class="btn-group">
              <a
                routerLink="../products"
                class="btn btn-light active"
                data-toggle="tooltip"
                title="List view"
              >
                <i class="fa fa-bars"></i
              ></a>
              <a
                routerLink="../products/grid"
                class="btn btn-light"
                data-toggle="tooltip"
                title="Grid view"
              >
                <i class="fa fa-th"></i
              ></a>
            </div> -->
          </div>
        </header>
        <!-- sect-heading -->

        <article
          class="card card-product-list click"
          *ngFor="
            let ad of ads
              | paginate
                : {
                    itemsPerPage: paginationInfo?.size,
                    currentPage: paginationInfo?.number,
                    totalItems: paginationInfo?.totalElements
                  }
          "
          [routerLink]="['/ad/view', ad?.slug, ad?.user?.slug]"
        >
          <div class="row no-gutters">
            <aside class="col-md-3">
              <a class="img-wrap">
                <span
                  *ngIf="ad?.dateCreated == currentDate"
                  class="badge badge-danger"
                >
                  NEW
                </span>
                <img src="{{ (ad?.adImages)[0].imageUrl }}" />
              </a>
            </aside>
            <!-- col.// -->
            <div class="col-md-6">
              <div class="info-main">
                <a class="h5 title"> {{ ad?.title }}</a>
                <!-- <div class="rating-wrap mb-2">
                  <ul class="rating-stars">
                    <li style="width: 100%" class="stars-active">
                      <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </li>
                    <li>
                      <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </li>
                  </ul>
                </div> -->
                <!-- rating-wrap.// -->

                <p class="mb-3">
                  <span *ngIf="ad?.boosted" class="tag">
                    <i class="fa fa-check"></i> Boosted</span
                  >
                  <span *ngIf="ad?.negotiable" class="tag">Negotiable </span>
                  <!-- <span class="tag"> {{ ad?.views }} views </span> -->
                  <span class="tag"> {{ ad?.region?.name }} </span>
                </p>

                <p [innerHTML]="ad?.description" class="elipses"></p>
              </div>
              <!-- info-main.// -->
            </div>
            <!-- col.// -->
            <aside class="col-sm-3">
              <div class="info-aside">
                <div class="price-wrap">
                  <span class="h5 price">{{
                    ad?.dailyPrice | currency: "₦"
                  }}</span>
                  <small class="text-muted">dailyPrice</small>
                </div>
                <div class="price-wrap">
                  <span class="h5 price">{{
                    ad?.weeklyPrice | currency: "₦"
                  }}</span>
                  <small class="text-muted">weeklyPrice</small>
                </div>
                <!-- price-wrap.// -->

                <p class="mt-3">
                  <a href="#" class="btn btn-light"
                    ><i class="fa fa-heart"></i> Save
                  </a>
                </p>
              </div>
              <!-- info-aside.// -->
            </aside>
            <!-- col.// -->
          </div>
          <!-- row.// -->
        </article>
        <!-- card-product .// -->

        <!-- card-product .// -->

        <!-- card-product .// -->

        <pagination-controls
          (pageChange)="pageChanged($event)"
        ></pagination-controls>
      </main>
      <!-- col.// -->
    </div>
  </div>
  <!-- container .//  -->
</section>

<!-- ========================= SECTION CONTENT END// ========================= -->

<!-- ========================= SECTION SUBSCRIBE  ========================= -->
<section class="padding-y-lg bg-light border-top">
  <!-- ========================= SECTION SUBSCRIBE END// ========================= -->
  <app-footer></app-footer>
</section>
