@import "../../../styles/variables-custom";
.category-card {
  background: white;
  border-radius: 8px;
  color: #484848;
  .card-header {
    padding: 1rem 1.25rem;
    background-color: white;
  }
  .card-body {
    @include custom-scroll;
    padding: 0 0.5rem;
    overflow: scroll;
    max-height: 70vh;
  }
  .each-category {
    padding: 0.8rem 0.8rem;
    font-size: 14px;
    border-bottom: 0.5px solid #e9e9e9;
    cursor: pointer;
  }
}

input {
  width: 338px;
  height: 40px;
  left: 42px;
  top: 116px;
  border: 1px solid #e3e3e3;
  font-family: "museo-md";
  color: #b9b9b9;
  box-sizing: border-box;
  border-radius: 22.5px;
}

select {
  width: 338px;
  height: 40px;
  left: 42px;
  top: 116px;
  font-family: "museo-md";
  color: #b9b9b9;
  border-radius: 22.5px;
}

.modalBtn {
  width: 151px;
  height: 40px;
  left: 135px;
  top: 252px;
  background: #1cb4ae;
  border-radius: 22.5px;
}

.icon-img {
  height: 20px;
  width: 20px;
  color: #d32f2f;
}

.asd {
  background: rgba(0, 0, 0, 0);
  padding: 20px;
}

.isActive {
  background-color: #2196f3;
  color: white;
}
.ho:hover {
  background-color: #2196f3;
  color: white;
}
img:hover {
  transform: scale(1.5);
}
