.card-deal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row !important;
  flex-direction: row !important;
}

a {
  text-decoration: none;
}
.focus:focus {
  border: none !important;
}

.feature-content {
  h4 {
    height: 57px !important;
  }
}
