<header class="section-header">
  <section class="header-main" id="myStickyNav">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <a (click)="routeHome()" class="brand-wrap click">
          <img class="logo" src="../../../assets/images/isaac.png" />
        </a>
        <!-- col.// -->
        <div class="d-flex justify-content-end">
          <div class="mt-2 mr-2 py-2 nav-btn" *ngIf="!loggedIn()">
            <a (click)="logIn()" class="btn btn-nav mr-1"> Login </a>
            <a (click)="register()" class="btn btn-nav" style="color: white">
              Sign up
            </a>
          </div>
          <div *ngIf="loggedIn()">
            <a
              class="widget-header mr-2 click"
              data-toggle="modal"
              data-target="#paystack"
            >
              <div class="ico">
                <i
                  class="icon-sm rounded-circle border fa fa-credit-card"
                  style="color: white"
                ></i>
              </div>
            </a>
            <div class="widget-header dropdown">
              <a
                href="#"
                data-toggle="dropdown"
                class="dropdown-toggle"
                data-offset="20,10"
              >
                <div class="icon icon-sm rounded-circle border">
                  <i class="fa fa-user" style="color: white"></i>
                </div>
                <span class="sr-only">Profile actions</span>
              </a>

              <div class="dropdown-menu dropdown-menu-right">
                <a
                  *ngIf="userRole === 'CUSTOMER'"
                  class="dropdown-item"
                  routerLink="/profile"
                  >Profile</a
                >
                <a
                  *ngIf="userRole === 'ADMIN' || userRole === 'SUPER_ADMIN'"
                  class="dropdown-item"
                  routerLink="/a-profile"
                  >Profile</a
                >
                <!-- <a class="dropdown-item" href="#">My Ads</a> -->
                <hr class="dropdown-divider" />
                <a class="dropdown-item click" (click)="logOut()">Log out</a>
              </div>
              <!--  dropdown-menu .// -->
            </div>
          </div>
          <div class="mt-2 mr-2 py-2 postAd-btn" *ngIf="!loggedIn()">
            <a (click)="postAdd()" style="color: white" class="btn btn-primary"
              ><i class="fa fa-plus"></i> Post Ad
            </a>
          </div>

          <!-- widget-header .// -->
        </div>
        <!-- col.// -->
      </div>
      <!-- row.// -->
    </div>
    <!-- container.// -->
  </section>
  <!-- header-main .// -->

  <nav class="navbar-main navbar-expand-lg border-bottom myNav">
    <div class="container">
      <div class="d-flex justify-content-between">
        <div class="d-none d-md-block col-lg-3 col-xl-3 col-md-3">
          <img
            src="../../../assets/images/happy.png"
            alt="girls"
            class="searchImg"
          />
        </div>
        <div class="search-wrapper col-12 col-xs-12 col-lg-6 col-xl-6 col-md-6">
          <div class="text-center mb-3 font-bold text-white">
            <p>Find products for rent</p>
          </div>
          <div class="">
            <div class="input-group">
              <input
                #query
                type="search"
                class="form-control search"
                placeholder="Type your search here"
                (keyup)="getInput(query.value)"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-primary search-button"
                  type="submit"
                  (click)="search()"
                >
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div
          class="d-none d-md-block col-lg-3 col-xl-3 col-md-3"
          style="right: 62px"
        >
          <img
            src="../../../assets/images/car2.png"
            alt="girls"
            class="searchImg"
          />
        </div>
      </div>

      <!-- <div class="collapse navbar-collapse d-block" id="dropdown6 ">
        <ul class="navbar-nav">
       
        </ul>
      </div> -->
      <!-- collapse .// -->
    </div>
    <!-- container .// -->
  </nav>
</header>
<button
  #paystack
  angular4-paystack
  [email]="email"
  [amount]="amount"
  [ref]="reference"
  (paymentInit)="paymentInit()"
  style="visibility: hidden"
  (close)="paymentCancel()"
  (callback)="paymentDone($event)"
>
  Pay with Paystack
</button>

<app-modal
  elementId="paystack"
  headerTitle="Buy Coins"
  centered="true"
  [styles]="{
    modalBodyHeight: '150px',
    modalContentWidth: '300px'
  }"
>
  <div class="content mb-2">
    <div class="d-flex justify-content-center mb-2">
      <p><b>1 coin = ₦100</b></p>
    </div>
    <div class="form-row">
      <div class="d-flex justify-content-center mb-2 form-group">
        <input
          #amount
          type="text"
          class="text-start form-control"
          (keyup)="getAmount(amount.value)"
          placeholder="Enter number of coins"
        />
      </div>
    </div>
    <div
      class="d-flex justify-content-center mb-2"
      *ngIf="
        amount.value != null && amount.value != undefined && amount.value != ''
      "
    >
      <p>{{ amount.value }} coins will cost you ₦{{ amountCost }}</p>
    </div>

    <div class="d-flex justify-content-center mt-3">
      <button
        #paystack
        angular4-paystack
        [email]="email"
        [amount]="paystackAmount"
        [ref]="reference"
        (paymentInit)="paymentInit()"
        (close)="paymentCancel()"
        (callback)="paymentDone($event)"
      >
        Pay with Paystack
      </button>
    </div>
  </div>
</app-modal>

<div data-dismiss="modal" class="close" #closeModal></div>
