btn-paystack {
  visibility: hidden;
}
.notification {
  position: relative;
  img {
    max-width: 50px;
    background-color: #2196f3;
  }
  span {
    position: absolute;
    top: -4px;
    left: 8px;
    border-radius: 50%;
  }
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: #42aeec;
}
.sticky + nav {
  padding-top: 68px;
}
// .noPadding {
//   margin: -15px !important;
// }
.myNav {
  background: linear-gradient(160.29deg, #42aeec 0.67%, #2196f3 100.93%);
}
.search {
  height: 56px;
  width: 80%;
}
.search-button {
  height: 56px;
  width: 56px;
}
.search-wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
}
.searchImg {
  height: 255px;
}
.btn-nav {
  background-color: #fff !important;
  border-color: #fff !important;
  color: #c8046c !important;
  &:hover {
    background-color: #fff !important;
  }
}
.nav-btn {
  display: flex;
  .btn {
    white-space: nowrap;
    @media (max-width: 992px) {
      font-size: 12px;
    }
  }
}

.postAd-btn {
  .btn {
    padding: 0.75rem !important;
    white-space: nowrap;
    @media (max-width: 992px) {
      font-size: 12px;
    }
  }
}
