<header class="section-header">
  <section class="header-main border-bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-3 col-sm-4 col-md-4 col-5 click">
          <a (click)="routeHome()" class="brand-wrap">
            <img class="logo" src="../../../assets/images/logo.jpg" />
          </a>
          <!-- brand-wrap.// -->
        </div>
        <div class="col-lg-4 col-xl-5 col-sm-8 col-md-4 d-none d-md-block">
          <form action="#" class="search">
            <div class="input-group w-100">
              <input
                #query
                type="search"
                class="form-control"
                style="width: 55%"
                placeholder="Search"
                (keyup)="getInput(query.value)"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-primary"
                  type="submit"
                  (click)="search()"
                >
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </form>
          <!-- search-wrap .end// -->
        </div>

        <!-- col.// -->
        <div class="col-lg-5 col-xl-4 col-sm-8 col-md-4 col-7">
          <div class="d-flex justify-content-end">
            <div class="mt-2 mr-2" *ngIf="!loggedIn()">
              <a (click)="logIn()" class="btn btn-outline-primary mr-1">
                Login
              </a>
              <a (click)="register()" class="btn btn-primary"> Sign up </a>
              <button
                class="btn float-right btn-light d-md-none"
                type="button"
                data-toggle="collapse"
                data-target="#main_nav8"
                aria-controls="main_nav"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <i class="fa fa-bars"></i>
              </button>
            </div>

            <a
              class="widget-header mr-2 click"
              *ngIf="loggedIn()"
              data-toggle="modal"
              data-target="#paystack"
            >
              <div class="ico">
                <span class="mr-1 d-none d-md-block"> buy coins</span>
                <i
                  class="icon-sm rounded-circle border fa fa-credit-card"
                  style="color: #2196f3"
                ></i>
              </div>
            </a>
            <div class="notification mr-2" *ngIf="loggedIn()">
              <a
                [routerLink]="['/admin/notifications']"
                routerLinkActive="router-link-active"
              >
                <div class="icon-sm rounded-circle border">
                  <img
                    class="icon"
                    src="../../../assets/images/notification.svg"
                    alt="Notification Icon"
                  />
                  <span class="badge badge-danger">5</span>
                </div>
              </a>
            </div>
            <!-- <a href="#" class="widget-header mr-3">
              <div class="icon">
                <i class="icon-sm rounded-circle border fa fa-heart"></i>
              </div>
            </a> -->

            <div class="widget-header dropdown" *ngIf="loggedIn()">
              <a
                href="#"
                data-toggle="dropdown"
                class="dropdown-toggle"
                data-offset="20,10"
              >
                <div class="icon icon-sm rounded-circle border">
                  <i class="fa fa-user"></i>
                </div>
                <span class="sr-only">Profile actions</span>
              </a>

              <div class="dropdown-menu dropdown-menu-right">
                <a
                  *ngIf="userRole === 'CUSTOMER'"
                  class="dropdown-item"
                  routerLink="/profile"
                  >Profile</a
                >
                <a
                  *ngIf="userRole === 'ADMIN' || userRole === 'SUPER_ADMIN'"
                  class="dropdown-item"
                  routerLink="/a-profile"
                  >Profile</a
                >
                <a class="dropdown-item" href="#">My Ads</a>
                <hr class="dropdown-divider" />
                <a class="dropdown-item click" (click)="logOut()">Log out</a>
              </div>
              <!--  dropdown-menu .// -->
            </div>

            <!-- widget-header .// -->
          </div>
          <!-- widgets-wrap.// -->
        </div>
        <!-- col.// -->
      </div>
      <!-- row.// -->
    </div>
    <!-- container.// -->
  </section>
  <!-- header-main .// -->

  <nav class="navbar navbar-main navbar-expand-lg border-bottom">
    <div class="container">
      <div class="collapse navbar-collapse d-block" id="dropdown6 ">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a
              (click)="postAdd()"
              style="color: white"
              class="btn btn-primary ml-md-4"
              ><i class="fa fa-plus"></i> Post Ad
            </a>
          </li>
        </ul>
      </div>
      <!-- collapse .// -->
    </div>
    <!-- container .// -->
  </nav>
</header>
<button
  #paystack
  angular4-paystack
  [email]="email"
  [amount]="amount"
  [ref]="reference"
  (paymentInit)="paymentInit()"
  style="visibility: hidden"
  (close)="paymentCancel()"
  (callback)="paymentDone($event)"
>
  Pay with Paystack
</button>

<app-modal
  elementId="paystack"
  headerTitle="Buy Coins"
  centered="true"
  [styles]="{
    modalBodyHeight: '150px',
    modalContentWidth: '300px'
  }"
>
  <div class="content mb-2">
    <div class="d-flex justify-content-center mb-2">
      <p><b>1 coin = ₦100</b></p>
    </div>
    <div class="form-row">
      <div class="d-flex justify-content-center mb-2 form-group">
        <input
          #amount
          type="text"
          class="text-start form-control"
          (keyup)="getAmount(amount.value)"
          placeholder="Enter number of coins"
        />
      </div>
    </div>
    <div
      class="d-flex justify-content-center mb-2"
      *ngIf="
        amount.value != null && amount.value != undefined && amount.value != ''
      "
    >
      <p>{{ amount.value }} coins will cost you ₦{{ amountCost }}</p>
    </div>

    <div class="d-flex justify-content-center mt-3">
      <button
        #paystack
        angular4-paystack
        [email]="email"
        [amount]="paystackAmount"
        [ref]="reference"
        (paymentInit)="paymentInit()"
        (close)="paymentCancel()"
        (callback)="paymentDone($event)"
      >
        Pay with Paystack
      </button>
    </div>
  </div>
</app-modal>

<div data-dismiss="modal" class="close" #closeModal></div>
