@import "~ngx-bar-rating/themes/br-fontawesome-theme";
@import "./styles/bootstrap.scss";
@import "./styles/more-styles.scss";

@import "./styles/responsive.scss";
@import "./styles/ui.scss";
.btn-facebook {
  background-color: #405d9d;
  color: #fff;
  &:hover {
    color: #fff;
  }
}
.btn-instagram {
  background-color: #e52d27;
  color: #fff;
  &:hover {
    color: #fff;
  }
}
.btn-youtube {
  background-color: #c8046c;
  color: #fff;
  &:hover {
    color: #fff;
  }
}
.btn-twitter {
  background-color: #42aeec;
  color: #fff;
  &:hover {
    color: #fff;
  }
}
.btn-google {
  background-color: #af0000;
  color: #fff;
  &:hover {
    color: #fff;
  }
}

.btn-icon {
  width: $input-height;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  i {
    line-height: 1;
  }
}

.btn-light {
  background-color: #fff;
  border-color: $border-color;
  i {
    color: $gray-500;
  }
  &:hover {
    background-color: #fff;
    border-color: darken($border-color, 30%);
  }
}

.btn-light.active i {
  color: $primary;
}

.btn {
  .text + i {
    margin-left: 10px;
  }
  i + .text {
    margin-left: 10px;
  }
}

.click {
  cursor: pointer;
}
.d-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.my-button {
  background-color: #2196f3 !important;
  color: white !important;
}
.my-button-gr {
  background-color: green !important;
  color: white !important;
}

.btn-margin {
  padding: 0 23px;
  margin: 10px 0 20px;
}
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  span {
    display: inline-block;
    position: relative;
    font-size: 16px;
    width: 1.1em;
  }
  &.five {
    span {
      color: gold;
    }
  }
  &.four {
    span {
      &:nth-child(5),
      &:nth-child(4),
      &:nth-child(3),
      &:nth-child(2) {
        color: gold;
      }
    }
  }
  &.three {
    span {
      &:nth-child(5),
      &:nth-child(4),
      &:nth-child(3) {
        color: gold;
      }
    }
  }
  &.two {
    span {
      &:nth-child(5),
      &:nth-child(4) {
        color: gold;
      }
    }
  }
  &.one {
    span {
      &:nth-child(5) {
        color: gold;
      }
    }
  }
}
.w-90 {
  width: 90% !important;
}
.avatarUrl {
  height: 50px;
  width: 50px;
}
.btn-primary {
  background-color: #d32f5d !important;
  border-color: #d32f5d !important;
  color: #fff !important;
  &:hover {
    background-color: #c80450 !important;
  }
}
.btn-outline-primary {
  border-color: #c8046c !important;
  color: #fff !important;
}
.mynews-info {
  position: relative;
  width: 100%;
  height: 38px;
  display: flex;
  overflow: hidden;
  div {
    position: relative;
    margin-bottom: 0px;
    width: 100%;
    background: #c8046c;
    overflow: hidden;
    h2 {
      padding: 8px;
      margin-bottom: 0px;
      font-size: 20px;
      position: absolute;
      white-space: nowrap;
      color: #fff;
      animation: animate 60s linear infinite;
    }
  }
}
@keyframes animate {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
