<app-nav></app-nav>
<div class="main-container section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-12 col-xs-12 page-sidebar">
        <aside>
          <div class="widget_search">
            <form role="search" id="search-form">
              <input
                type="search"
                class="form-control"
                autocomplete="off"
                name="s"
                placeholder="Search..."
                id="search-input"
                value=""
              />
              <button type="submit" id="search-submit" class="search-btn">
                <i class="fa fa-search"></i>
              </button>
            </form>
          </div>

          <div class="widget categories">
            <h4 class="widget-title">All Categories</h4>
            <ul class="categories-list">
              <li>
                <a href="#">
                  <i class="fa fa-cutlery"></i>
                  Hotel & Travels <span class="category-counter">(5)</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-cogs"></i>
                  Services <span class="category-counter">(8)</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-github"></i>
                  Pets <span class="category-counter">(2)</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-coffee"></i>
                  Restaurants <span class="category-counter">(3)</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-home"></i>
                  Real Estate <span class="category-counter">(4)</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-pencil"></i>
                  Jobs <span class="category-counter">(5)</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-television"></i>
                  Electronics <span class="category-counter">(9)</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="widget">
            <h4 class="widget-title">Advertisement</h4>
            <div class="add-box">
              <img class="img-fluid" src="assets/img/img1.jpg" alt="" />
            </div>
          </div>
        </aside>
      </div>
      <div class="col-lg-9 col-md-12 col-xs-12 page-content">
        <div class="product-filter">
          <div class="short-name">
            <span>Showing (1 - 12 products of 7371 products)</span>
          </div>
          <div class="Show-item">
            <span>Show Items</span>
            <form class="woocommerce-ordering" method="post">
              <label>
                <select name="order" class="orderby">
                  <option selected="selected" value="menu-order"
                    >49 items</option
                  >
                  <option value="popularity">popularity</option>
                  <option value="popularity">Average ration</option>
                  <option value="popularity">newness</option>
                  <option value="popularity">price</option>
                </select>
              </label>
            </form>
          </div>
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#grid-view"
                ><i class="fa fa-th-large"></i
              ></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#list-view"
                ><i class="fa fa-list-ul"></i
              ></a>
            </li>
          </ul>
        </div>

        <div class="adds-wrapper">
          <div class="tab-content">
            <div id="grid-view" class="tab-pane fade active show">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <div class="featured-box">
                    <figure>
                      <div class="icon">
                        <i class="fa fa-heart-o"></i>
                      </div>
                      <a href="#"
                        ><img
                          class="img-fluid"
                          src="assets/img/featured/img1.jpg"
                          alt=""
                      /></a>
                    </figure>
                    <div class="feature-content">
                      <div class="product">
                        <a href="#"
                          ><i class="fa fa-folder-o"></i> Mobile Phones</a
                        >
                      </div>
                      <h4><a href="ads-details.html">Apple iPhone X</a></h4>
                      <span>Last Updated: 3 hours ago</span>
                      <ul class="address">
                        <li>
                          <a href="#"
                            ><i class="fa fa-map-marker"></i> Avenue C, US</a
                          >
                        </li>
                        <li>
                          <a href="#"
                            ><i class="fa fa-clock-o"></i> Feb 18, 2018</a
                          >
                        </li>
                        <li>
                          <a href="#"
                            ><i class="fa fa-user-o"></i> Maria Barlow</a
                          >
                        </li>
                        <li>
                          <a href="#"><i class="fa fa-archive"></i> Used</a>
                        </li>
                      </ul>
                      <div class="listing-bottom">
                        <h3 class="price float-left">$200.00</h3>
                        <a
                          href="account-myads.html"
                          class="btn-verified float-right"
                          ><i class="lni-check-box"></i> Verified Ad</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <div class="featured-box">
                    <figure>
                      <div class="icon">
                        <i class="fa fa-heart-o"></i>
                      </div>
                      <a href="#"
                        ><img
                          class="img-fluid"
                          src="assets/img/featured/img2.jpg"
                          alt=""
                      /></a>
                    </figure>
                    <div class="feature-content">
                      <div class="product">
                        <a href="#"><i class="lni-folder"></i> Real Estate</a>
                      </div>
                      <h4>
                        <a href="ads-details.html">Amazing Room for Rent</a>
                      </h4>
                      <span>Last Updated: 4 hours ago</span>
                      <ul class="address">
                        <li>
                          <a href="#"
                            ><i class="fa fa-map-marker"></i> Avenue C, US</a
                          >
                        </li>
                        <li>
                          <a href="#"
                            ><i class="fa fa-clock-o"></i> Feb 18, 2018</a
                          >
                        </li>
                        <li>
                          <a href="#"
                            ><i class="fa fa-user-o"></i> Maria Barlow</a
                          >
                        </li>
                        <li>
                          <a href="#"><i class="fa fa-archive"></i> Used</a>
                        </li>
                      </ul>
                      <div class="listing-bottom">
                        <h3 class="price float-left">$450.00</h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <div class="featured-box">
                    <figure>
                      <div class="icon">
                        <i class="fa fa-heart-o"></i>
                      </div>
                      <a href="#"
                        ><img
                          class="img-fluid"
                          src="assets/img/featured/img3.jpg"
                          alt=""
                      /></a>
                    </figure>
                    <div class="feature-content">
                      <div class="product">
                        <a href="#"><i class="lni-folder"></i> Electronics</a>
                      </div>
                      <h4>
                        <a href="ads-details.html">Canon SX Powershot D-SLR</a>
                      </h4>
                      <span>Last Updated: 4 hours ago</span>
                      <ul class="address">
                        <li>
                          <a href="#"
                            ><i class="fa fa-map-marker"></i> Avenue C, US</a
                          >
                        </li>
                        <li>
                          <a href="#"
                            ><i class="fa fa-clock-o"></i> Feb 18, 2018</a
                          >
                        </li>
                        <li>
                          <a href="#"
                            ><i class="fa fa-user-o"></i> Maria Barlow</a
                          >
                        </li>
                        <li>
                          <a href="#"><i class="fa fa-archive"></i> Used</a>
                        </li>
                      </ul>
                      <div class="listing-bottom">
                        <h3 class="price float-left">$700.00</h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <div class="featured-box">
                    <figure>
                      <div class="icon">
                        <i class="fa fa-heart-o"></i>
                      </div>
                      <a href="#"
                        ><img
                          class="img-fluid"
                          src="assets/img/featured/img4.jpg"
                          alt=""
                      /></a>
                    </figure>
                    <div class="feature-content">
                      <div class="product">
                        <a href="#"><i class="lni-folder"></i> Vehicles</a>
                      </div>
                      <h4>
                        <a href="ads-details.html">BMW 5 Series GT Car</a>
                      </h4>
                      <span>Last Updated: 5 hours ago</span>
                      <ul class="address">
                        <li>
                          <a href="#"
                            ><i class="fa fa-map-marker"></i> Avenue C, US</a
                          >
                        </li>
                        <li>
                          <a href="#"
                            ><i class="fa fa-clock-o"></i> Feb 18, 2018</a
                          >
                        </li>
                        <li>
                          <a href="#"
                            ><i class="fa fa-user-o"></i> Maria Barlow</a
                          >
                        </li>
                        <li>
                          <a href="#"><i class="fa fa-archive"></i> Used</a>
                        </li>
                      </ul>
                      <div class="listing-bottom">
                        <h3 class="price float-left">$300.00</h3>
                        <a
                          href="account-myads.html"
                          class="btn-verified float-right"
                          ><i class="lni-check-box"></i> Verified Ad</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="list-view" class="tab-pane fade">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="featured-box">
                    <figure>
                      <div class="icon">
                        <i class="fa fa-heart-o"></i>
                      </div>
                      <a href="#"
                        ><img
                          class="img-fluid"
                          src="assets/img/featured/img5.jpg"
                          alt=""
                      /></a>
                    </figure>
                    <div class="feature-content">
                      <div class="product">
                        <a href="#"><i class="lni-folder"></i> Apple</a>
                      </div>
                      <h4>
                        <a href="ads-details.html">Apple Macbook Pro 13 Inch</a>
                      </h4>
                      <span>Last Updated: 4 hours ago</span>
                      <ul class="address">
                        <li>
                          <a href="#"
                            ><i class="fa fa-map-marker"></i> Avenue C, US</a
                          >
                        </li>
                        <li>
                          <a href="#"
                            ><i class="fa fa-clock-o"></i> Feb 18, 2018</a
                          >
                        </li>
                        <li>
                          <a href="#"
                            ><i class="fa fa-user-o"></i> Maria Barlow</a
                          >
                        </li>
                        <li>
                          <a href="#"><i class="fa fa-archive"></i> Used</a>
                        </li>
                      </ul>
                      <div class="listing-bottom">
                        <h3 class="price float-left">$450.00</h3>
                        <a
                          href="account-myads.html"
                          class="btn-verified float-right"
                          ><i class="lni-check-box"></i> Verified Ad</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="featured-box">
                    <figure>
                      <div class="icon">
                        <i class="fa fa-heart-o"></i>
                      </div>
                      <a href="#"
                        ><img
                          class="img-fluid"
                          src="assets/img/featured/img6.jpg"
                          alt=""
                      /></a>
                    </figure>
                    <div class="feature-content">
                      <div class="product">
                        <a href="#"><i class="lni-folder"></i> Restaurant</a>
                      </div>
                      <h4>
                        <a href="ads-details.html">Cream Restaurant</a>
                      </h4>
                      <span>Last Updated: 4 hours ago</span>
                      <ul class="address">
                        <li>
                          <a href="#"
                            ><i class="fa fa-map-marker"></i> Avenue C, US</a
                          >
                        </li>
                        <li>
                          <a href="#"
                            ><i class="fa fa-clock-o"></i> Feb 18, 2018</a
                          >
                        </li>
                        <li>
                          <a href="#"
                            ><i class="fa fa-user-o"></i> Maria Barlow</a
                          >
                        </li>
                        <li>
                          <a href="#"><i class="fa fa-archive"></i> Used</a>
                        </li>
                      </ul>
                      <div class="listing-bottom">
                        <h3 class="price float-left">$250.00</h3>
                        <a
                          href="account-myads.html"
                          class="btn-verified float-right"
                          ><i class="lni-check-box"></i> Verified Ad</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="featured-box">
                    <figure>
                      <div class="icon">
                        <i class="fa fa-heart-o"></i>
                      </div>
                      <a href="#"
                        ><img
                          class="img-fluid"
                          src="assets/img/featured/img3.jpg"
                          alt=""
                      /></a>
                    </figure>
                    <div class="feature-content">
                      <div class="product">
                        <a href="#"><i class="lni-folder"></i> Electronics</a>
                      </div>
                      <h4>
                        <a href="ads-details.html">Canon SX Powershot D-SLR</a>
                      </h4>
                      <span>Last Updated: 4 hours ago</span>
                      <ul class="address">
                        <li>
                          <a href="#"
                            ><i class="fa fa-map-marker"></i> Avenue C, US</a
                          >
                        </li>
                        <li>
                          <a href="#"
                            ><i class="fa fa-clock-o"></i> Feb 18, 2018</a
                          >
                        </li>
                        <li>
                          <a href="#"
                            ><i class="fa fa-user-o"></i> Maria Barlow</a
                          >
                        </li>
                        <li>
                          <a href="#"><i class="fa fa-archive"></i> Used</a>
                        </li>
                      </ul>
                      <div class="listing-bottom">
                        <h3 class="price float-left">$700.00</h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="featured-box">
                    <figure>
                      <div class="icon">
                        <i class="lni-heart"></i>
                      </div>
                      <a href="#"
                        ><img
                          class="img-fluid"
                          src="assets/img/featured/img2.jpg"
                          alt=""
                      /></a>
                    </figure>
                    <div class="feature-content">
                      <div class="product">
                        <a href="#"><i class="lni-folder"></i> Real Estate</a>
                      </div>
                      <h4>
                        <a href="ads-details.html">Amazing Room for Rent</a>
                      </h4>
                      <span>Last Updated: 4 hours ago</span>
                      <ul class="address">
                        <li>
                          <a href="#"
                            ><i class="fa fa-map-marker"></i> Avenue C, US</a
                          >
                        </li>
                        <li>
                          <a href="#"
                            ><i class="fa fa-clock-o"></i> Feb 18, 2018</a
                          >
                        </li>
                        <li>
                          <a href="#"
                            ><i class="fa fa-user-o"></i> Maria Barlow</a
                          >
                        </li>
                        <li>
                          <a href="#"><i class="fa fa-archive"></i> Used</a>
                        </li>
                      </ul>
                      <div class="listing-bottom">
                        <h3 class="price float-left">$450.00</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="pagination-bar">
          <nav>
            <ul class="pagination justify-content-center">
              <li class="page-item">
                <a class="page-link active" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
