.registration {
  padding: 100px 0;
}
.registration .registration-box {
  width: 500px;
  margin: auto;
  -webkit-box-shadow: 0 18px 38px rgba(0, 0, 0, 0.2);
  box-shadow: 0 18px 38px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  border-top: 3px solid #00bcd4;
  padding: 45px 50px;
}
.registration .registration-box .reg-top {
  margin-bottom: 30px;
}
.registration .registration-box .reg-top h3 {
  color: #444444;
  font-weight: 600;
  margin-bottom: 6px;
}
.registration .registration-box .reg-top p {
  font-size: 15px;
  color: #666666;
}
.registration .registration-box form.reg-form div.name,
.registration .registration-box form.reg-form div.srname,
.registration .registration-box form.reg-form div.email,
.registration .registration-box form.reg-form div.password {
  margin-bottom: 20px;
}
.registration .registration-box form.reg-form div.name label,
.registration .registration-box form.reg-form div.srname label,
.registration .registration-box form.reg-form div.email label,
.registration .registration-box form.reg-form div.password label {
  font-size: 16px;
  color: #444444;
  font-weight: 600;
  display: block;
}
.registration .registration-box form.reg-form div.name input,
.registration .registration-box form.reg-form div.srname input,
.registration .registration-box form.reg-form div.email input,
.registration .registration-box form.reg-form div.password input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #e5e5e5;
  padding: 6px 6px;
}

.registration .registration-box form.reg-form div.name input.placeholder,
.registration .registration-box form.reg-form div.srname input.placeholder,
.registration .registration-box form.reg-form div.email input.placeholder,
.registration .registration-box form.reg-form div.password input.placeholder {
  font-size: 15px;
  font-style: italic;
  color: #969696;
}

.registration .registration-box form.reg-form div.name input::-moz-placeholder,
.registration
  .registration-box
  form.reg-form
  div.srname
  input::-moz-placeholder,
.registration .registration-box form.reg-form div.email input::-moz-placeholder,
.registration
  .registration-box
  form.reg-form
  div.password
  input::-moz-placeholder {
  font-size: 15px;
  font-style: italic;
  color: #969696;
}
.registration
  .registration-box
  form.reg-form
  div.name
  input:-ms-input-placeholder,
.registration
  .registration-box
  form.reg-form
  div.srname
  input:-ms-input-placeholder,
.registration
  .registration-box
  form.reg-form
  div.email
  input:-ms-input-placeholder,
.registration
  .registration-box
  form.reg-form
  div.password
  input:-ms-input-placeholder {
  font-size: 15px;
  font-style: italic;
  color: #969696;
}
.registration
  .registration-box
  form.reg-form
  div.name
  input::-webkit-input-placeholder,
.registration
  .registration-box
  form.reg-form
  div.srname
  input::-webkit-input-placeholder,
.registration
  .registration-box
  form.reg-form
  div.email
  input::-webkit-input-placeholder,
.registration
  .registration-box
  form.reg-form
  div.password
  input::-webkit-input-placeholder {
  font-size: 15px;
  font-style: italic;
  color: #969696;
}
.registration .registration-box form.reg-form div.name input:focus,
.registration .registration-box form.reg-form div.srname input:focus,
.registration .registration-box form.reg-form div.email input:focus,
.registration .registration-box form.reg-form div.password input:focus {
  border-color: #00bcd4;
  outline-color: #00bcd4;
}

.registration .registration-box form.reg-form button {
  font-size: 15px;
  color: #fff;
  background: lightblue;
  display: block;
  width: 100%;
  height: 48px;
  font-weight: 600;
  border: none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  margin-top: 35px;
  margin-bottom: 25px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.registration .registration-box form.reg-form button:before {
  position: absolute;
  content: "";
  background: #00bcd4;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}
.registration .registration-box form.reg-form button:hover:before {
  width: 100%;
}
.registration .registration-box .login-btm p {
  font-size: 15px;
  color: #969696;
}
.registration .registration-box .login-btm p a {
  color: #00bcd4;
  font-weight: 600;
  margin-left: 8px;
}

p.hrh {
  overflow: hidden;
  text-align: center;
  color: grey;
}

p.hrh:before,
p.hrh:after {
  background-color: lightgray;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  width: 50%;
}

p.hrh:before {
  right: 0.5em;
  margin-left: -50%;
}

p.hrh:after {
  left: 0.5em;
  margin-right: -50%;
}
