<app-nav></app-nav>
<section class="registration">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="registration-box">
          <div class="reg-top">
            <h3>Sign Up.</h3>
            <p>Fill the form below to create an account.</p>
          </div>
          <form class="reg-form" action="#" [formGroup]="registrationForm">
            <div class="row">
              <div class="col-md-6 name">
                <label>First Name</label>
                <input
                  type="text"
                  name="name"
                  placeholder="Enter first name"
                  formControlName="first_name"
                  [ngClass]="{
                    'is-invalid':
                      registrationForm.get('first_name').errors &&
                      registrationForm.get('first_name').touched
                  }"
                />
              </div>
              <div class="col-md-6 srname">
                <label>Last Name</label>
                <input
                  type="text"
                  name="srname"
                  placeholder="Enter last name"
                  formControlName="last_name"
                  [ngClass]="{
                    'is-invalid':
                      registrationForm.get('last_name').errors &&
                      registrationForm.get('last_name').touched
                  }"
                />
              </div>
              <div class="col-md-6 name">
                <label>Referrer</label>
                <input
                  type="number"
                  name="referrer"
                  placeholder="enter referrer code"
                  formControlName="referrer"
                />
              </div>
              <div class="col-md-6 email">
                <label>Email</label>
                <input
                  type="text"
                  name="email"
                  placeholder="Enter Email here"
                  formControlName="email"
                  [ngClass]="{
                    'is-invalid':
                      registrationForm.get('email').errors &&
                      registrationForm.get('email').touched
                  }"
                />
                <div
                  class="invalid-feedback mt-0 p-0"
                  *ngIf="
                    registrationForm.get('email').touched &&
                    registrationForm.get('email').errors
                  "
                >
                  Please enter a valid email
                </div>
                <div class="invalid-feedback mt-0 p-0" *ngIf="emailExists">
                  Email is invalid or already exists
                </div>
              </div>
              <div class="col-md-12 password">
                <label>Password</label>
                <input
                  type="password"
                  name="password"
                  autocomplete="new-password"
                  placeholder="Enter your password here"
                  formControlName="password"
                  [ngClass]="{
                    'is-invalid':
                      registrationForm.get('password').errors &&
                      registrationForm.get('password').touched
                  }"
                />
                <div
                  class="invalid-feedback p-0 mt-0"
                  *ngIf="
                    registrationForm.get('password').hasError('required') &&
                    registrationForm.get('password').touched
                  "
                >
                  Password is required
                </div>
                <div
                  class="invalid-feedback mt-0 p-0"
                  *ngIf="
                    registrationForm.get('password').hasError('minlength') &&
                    registrationForm.get('password').touched
                  "
                >
                  Password must be at least 8 characters
                </div>
              </div>
              <div class="col-md-12 password">
                <label>Confirm Password</label>
                <input
                  type="text"
                  name="password"
                  autocomplete="new-password"
                  placeholder="Confirm your password"
                  formControlName="confirmPassword"
                  [ngClass]="{
                    'is-invalid':
                      (registrationForm.get('confirmPassword').errors &&
                        registrationForm.get('confirmPassword').touched) ||
                      (registrationForm.get('confirmPassword').touched &&
                        registrationForm.hasError('passwordmismatch'))
                  }"
                />
                <div
                  class="invalid-feedback mt-0 p-0"
                  *ngIf="
                    (registrationForm
                      .get('confirmPassword')
                      .hasError('required') &&
                      registrationForm.get('confirmPassword').touched) ||
                    (registrationForm.hasError('passwordmismatch') &&
                      registrationForm.get('confirmPassword').touched)
                  "
                >
                  Please type in a matching password
                </div>
              </div>
              <div class="col-md-12">
                <button type="submit" name="button" (click)="register()">
                  Create Account
                </button>
              </div>
            </div>
          </form>
          <div class="login-btm text-center">
            <p>Already have an account ?<a routerLink="../login">Sign in</a></p>
          </div>
          <div>
            <p class="hrh">or</p>
          </div>
          <div>
            <ul class="footer-social d-flex justify-content-center">
              <li>
                <a class="facebook" (click)="signInWithFB()"
                  ><i class="fa fa-facebook"></i
                ></a>
              </li>
              <li>
                <a class="google-plus" (click)="signInWithGoogle()"
                  ><i class="fa fa-google"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
